<div>
    <div class="wrapper" style="border-radius: 10px;">
      <div style="margin: auto;">
        <img src="assets/Cheers.png">
      </div>
    </div>
    <div class="btnstyle">
      <button class="goto" (click)="openLink()">Go to Link</button>
      <button class="copytext" (click)="copyText(TemplateLinkSubmission)"><span class="material-icons">
        content_copy
        </span></button>
    </div>
</div>