.formContaier {
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url("../../../assets/loginbackground.jpg");
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 830px;
  display: flex;
  width: 1245px;
}

.leftBox {
  width: 50%;
  background: #0097cf;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
}

.rightBox {
  width: 50%;
  background: #323e48;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
}

.rightBoxWrapper {
  height: 100%;
  padding: 30px 76px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.marginAuto {
  margin: auto;
}

.margin30 {
  margin: 30px 30px 10px 30px;
}

.headingbelow {
  font-size: 24px;
  text-align: center;
  color: white;
}

.description {
  margin: auto;
  text-align: center;
  color: white;
  margin-top: 22px;
  margin-bottom: 100px;
  padding: 0px 30px;
}

.description span {
  font-size: 14px;
  color: white;
  line-height: 25px;
}

.socialicons {
  width: 100%;
  text-align: center;
  margin-bottom: 29px;
}

.socialicons a {
  margin: 0px 5px;
}

.socialicons img {
  height: 50px;
  width: 50px;
}

.copyright {
  text-align: center;
  font-size: 12px;
  color: #5bd2fe;
  margin-bottom: 25px;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

::ng-deep .mat-menu-panel {
  max-width: 383px !important;
  width: 383px !important;
  border-bottom-left-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
  border: 1px solid #0097cf;
}

.Small {
  width: 184px !important;
}

::ng-deep .Small,
.mat-menu-panel {
  max-width: 184px !important;
  width: 184px !important;
  border-bottom-left-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
  border: 1px solid #0097cf;
}

.matbutton {
  height: 38px;
  width: 100%;
  text-align: left;
  background: white;
  color: #a2a1a1;
  padding: 0px 10px;
  border-radius: 5px;
}

.matbuttonsmall {
  width: 100%;
  text-align: left;
  background: white;
  color: #a2a1a1;
  border-radius: 4px;
  padding: 0px 10px;
  font-size: 12px;
}

.matinput {
  border: none;
  outline: none;
  width: 356px !important;
  padding: 0px 14px;
  border-radius: 4px;
}

.matinputsmall {
  border: none;
  outline: none;
  width: 159px !important;
  padding: 0px 14px;
  border-radius: 4px;
}

.dropdwon {
  width: 178px;
  position: absolute;
  z-index: 1;
  background: white;
  padding-right: 7px;
  border: 1px solid #0097cf;
  margin-top: -4px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 10px 0px;
  height: 100px;
  overflow-y: auto;
}

.field-error {
  margin-top: 2px;
  color: #f34242;
  font-size: 15px;
  font-style: italic;
  position: absolute;
  bottom: -20px;
}

::ng-deep.cdk-overlay-pane {
  transform: translate(-0.5px, 38px);
}

.menuOptions {
  cursor: pointer;
  width: 100%;
  color: #a2a1a1;
  margin-bottom: 5px;
}

.menuWrapper {
  position: absolute;
  width: 102%;
  height: 50px;
  overflow: auto;
  background: white;
  z-index: 2;
  border: 1px solid #323e48;
  padding: 10px 0px;
  margin-left: -0.6px;
}
.menuWrapper > div {
  margin: 0px 12px;
  display: flex;
  width: 90%;
  font-size: 11px;
  margin: auto;
}

.active {
  color: #0097cf;
}

label input[type="radio"]:checked ~ span {
  color: #0097cf;
}

.selectedRegion {
  font-size: 12px;
  color: #0097cf;
}

.regionTagLine {
  font-size: 14px;
  margin-bottom: 10px;
  color: white;
}

.menuRow {
  display: flex;
  margin-top: 8px;
  margin-bottom: 20px;
  position: relative;
  flex-direction: column;
}

.continueBtn {
  padding: 1em;
  width: 135px;
  cursor: pointer;
  background: #0097cf;
  text-decoration: none;
  color: #fff;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgb(0 0 0 / 0%);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.continueBtn:before {
  position: absolute;
  z-index: -1;
  top: calc(50% - 10px);
  right: 0;
  content: '';
  border-style: solid;
  border-width: 10px 0 10px 11px;
  border-color: transparent transparent transparent #0097cf;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.continueBtn:hover{
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
}
.continueBtn:hover:before{
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}
// .topBox {
//   height: 93%;
// }

.bottomBox {
  display: flex;
  margin: 0px 0px 0px auto;
}

.ma {
  margin: auto 0px;
}

.backBtn {
  width: 75px;
  height: 35px;
  color: white;
  margin-right: 5px;
}

.fromWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.firstText {
  margin-bottom: 5px;
  font-size: 14px;
  color: white;
}

// .secondText {
//   color: white;
//   display: flex;
//   text-align: center;
// }
.secondText h2 {
  color: white;
  display: flex;
  text-align: center;
  margin: 0;
}
.tickImgBlock {
  margin-top: 20px;
  margin-bottom: 100px;
}

.dataInput {
  height: 38px;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  padding: 0px 10px;
}

.dropdownBlock {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dropdownBlockWrapper {
  display: flex;
  flex-direction: column;
  width: 49%;
}

.w100 {
  width: 100%;
}

.firstPage {
  justify-content: unset;
}

.helpIcon {
  position: absolute;
  right: 65%;
  top: -2px;
}

::ng-deep .mat-menu-panel {
  max-width: 368px !important;
}

.selectedDropdown {
  // margin-left: -7px;
  color: black;
}

.unselectedDropdown {
  // margin-left: -7px;
  color: #757070;
}
.enviormentWrapup {
  position: relative;
}

.bottomBox > .ma > button {
  cursor: pointer;
}
.miniInputLeft {
  width: 180px !important;
}
.miniInputRight {
  width: 200px !important;
}
.b-info{
  height: 550px;
  overflow-y: auto;
  padding: 0 10px;
}
.businessinfo{
  padding: 10px 30px 0px 30px;
}
.businessinfo h2{
  margin: 0;
  color: white;
  display: flex;
  text-align: center;
}
.info{
  padding: 10px 30px 30px 30px;
  // margin-top: 20px;
}
.info h3{
  margin: 0;
  color: white;
  text-align: center;
  font-size: 18px;
}
.liststyle{
  font-size: 14px;
  color: white;
  margin-bottom: 10px;
  letter-spacing: 1px;
  position: relative;
}
ul{
  margin: 0 !important;
  margin-top: 10px !important;
}
.postion{
  position: absolute;
  bottom: 0;
  right: 50%;
}
.tooltip{
  font-size: 16px !important;
  margin-left: 20px;
}
.dataInputcn{
  width: 85%;
  height: 38px;
  border: none;
  border-radius: 0px 4px 4px 0px;
  font-size: 12px;
  padding: 0px 10px;
  display: flex;

}
.menuRowCN{
  display: flex;
  margin-top: 8px;
  margin-bottom: 20px;
  position: relative;
  flex-direction: row;
}
.countrycode{
  width: 10%;
  text-align: center;
  color: black;
  border-radius: 4px 0px 0px 4px;
  padding-top: 9px;
  background: #b0b0b0;
}

.dullbg{
  opacity: 0.3;
  pointer-events:none;
}

