
  <div>
    <div class="wrapper">
      <div class="leftBox">
        <div class="margin30">
          <img src="../../../assets/logo.png">
        </div>
        <!-- <div class="marginAuto">
          <img src="../../../assets/details.png">
        </div>
        <div class="RBold headingbelow">
          Data Visualization
        </div>
        <div class="description RRegular">
          <span>
            Help agents gain a full understanding and awareness of the situation by providing a visual
            presentation of customer journey and interactions history.
          </span>
        </div> -->
        <div class="businessinfo">
          <h2>
            Business Information
          </h2>
          <ul>
            <li class="liststyle">Company Name 
              <!-- <div matTooltipPosition="after" [matTooltip]="formService.companyNameTooltip" class="helpIcon">
                <span class="material-icons">
                  info
                  </span>
              </div>   -->
            </li>
            <li class="liststyle">Official Email</li>
            
            <li class="liststyle">Country</li>
            <li class="liststyle">State</li>
            <li class="liststyle">City</li>
            <li class="liststyle">Post Code</li>
            <li class="liststyle">Contact Number</li>
            <li class="liststyle">Business Address</li>
          </ul>
        </div>
        
        <div class="postion">
          <div class="info">
            <h3>
              For more information about prerequisites
              please visit 
              <a style="color: white;" href="www.omningage.cloud/prereq">www.omningage.cloud/prereq</a>
            </h3>
            
          </div>
          <ng-container *ngTemplateOutlet="socialIcons"></ng-container>
          <ng-container *ngTemplateOutlet="copyRights"></ng-container>
        </div>
       
      </div>
      <div class="rightBox">
        <div class="rightBoxWrapper">
          <div class="topBox">
            <div class="fromWrapper">
              <div>
                <!-- <div class="RBold firstText">
                  Cloud Service Subscription
                </div> -->
                <div class="RBold secondText">
                  <h2>
                  Business Information
                  </h2>
                </div>
                <div class="tickImgBlock">
                  <app-stepper-wizard [inputwizard]="2"></app-stepper-wizard>
                </div>
              </div>
              <div class="b-info">
                <!-- <div class="RRegular">
                  <span class="regionTagLine"> Company Name </span>
                </div> -->
                <div class="menuRow">
                  <input class="dataInput" [(ngModel)]="omniCustomerDetails.CompanyName" type="text" (keyup)="CheckContinueButton()"
                    placeholder="Company Name">
                  <span class="field-error" *ngIf="this.errors.CompanyName != null">*{{ this.errors.CompanyName }}</span>
                </div>
                <!-- <div class="RRegular">
                  <span class="regionTagLine"> Email </span>
                </div> -->
                <div class="menuRow">
                  <input class="dataInput" [(ngModel)]="omniCustomerDetails.Email" type="email" (focusout)="submitBusinessInfo(false)" (keyup)="CheckContinueButton()"
                    placeholder="Email">
                  <span class="field-error" *ngIf="this.errors.Email != null">*{{ this.errors.Email }}</span>
                </div>
                
                <div class="dropdownBlock">
                  <div class="dropdownBlockWrapper">
                    <!-- <div class="RRegular">
                      <span class="regionTagLine"> Country </span>
                    </div> -->
                    <div class="menuRow">
                      <div>
                        <input type="text" (change)="SelectedCountry()" placeholder="Country"
                          class="dataInput miniInputLeft" list="countries" [(ngModel)]="omniCustomerDetails.Country">
                        <datalist id="countries">
                          <option class="menuOptions" [value]="country.name" *ngFor="let country of countries"></option>
                        </datalist>
                      </div>
                      <span class="field-error" *ngIf="this.errors.Country != null">*{{ this.errors.Country }}</span>
                    </div>
                  </div>
                  <div class="dropdownBlockWrapper">
                    <!-- <div class="RRegular">
                      <span class="regionTagLine">State</span>
                    </div> -->
                    <div class="menuRow">
                      <div>
                        <input type="text" (change)="SelectedState()" placeholder="State"
                          class="dataInput miniInputRight" list="states" [(ngModel)]="omniCustomerDetails.State">
                        <datalist id="states">
                          <option class="menuOptions" [value]="state.name" *ngFor="let state of states"></option>
                        </datalist>
                      </div>
                      <span class="field-error" *ngIf="this.errors.State != null">*{{ this.errors.State }}</span>
                    </div>
                  </div>
                </div>
                <div class="dropdownBlock RRegular">
                  <div class="dropdownBlockWrapper">
                    <!-- <div class="RRegular">
                      <span class="regionTagLine"> City </span>
                    </div> -->
                    <div class="menuRow">
                      <div>
                        <input type="text" placeholder="City" class="dataInput miniInputLeft" list="cities"
                          [(ngModel)]="omniCustomerDetails.City">
                        <datalist id="cities">
                          <option class="menuOptions" [value]="city.name" *ngFor="let city of cities"></option>
                        </datalist>
                      </div>
                      <span class="field-error" *ngIf="this.errors.City != null">*{{ this.errors.City }}</span>
                    </div>
                  </div>
                  <div class="dropdownBlockWrapper">
                    <!-- <div class="RRegular">
                      <span class="regionTagLine"> ZIP / Post Code </span>
                    </div> -->
                    <div class="menuRow">
                      <input class="dataInput miniInputRight" [(ngModel)]="omniCustomerDetails.ZIP_PostCode" type="text" (keyup)="CheckContinueButton()"
                        placeholder="ZIP / Post Code">
                      <span class="field-error" *ngIf="this.errors.ZIP_PostCode != null">*{{ this.errors.ZIP_PostCode}}</span>
                    </div>
                  </div>
                </div>
                <div class="menuRowCN">
                  <span class="countrycode">{{CountryPhoneCode}}</span>
                  <input class="dataInputcn" [(ngModel)]="omniCustomerDetails.Contact" type="text" (keyup)="submitBusinessInfo(false);CheckContinueButton()"
                    placeholder="Contact Number">
                  <span class="field-error" *ngIf="this.errors.Contact != null">*{{ this.errors.Contact }}</span>
                </div>
                <div class="menuRow">
                  <input class="dataInput" [(ngModel)]="omniCustomerDetails.BusinessAddress" type="text" (keyup)="CheckContinueButton()"
                    placeholder="Business Address">
                  <span class="field-error" *ngIf="this.errors.BusinessAddress != null">*{{ this.errors.BusinessAddress}}</span>
                </div>
                <!-- <span class="field-error" *ngIf="apiError">*{{ apiError }}</span> -->
              </div>
            </div>
          </div>
          <div class="bottomBox">
            <div class="ma">
              <button mat-button (click)="prev()" class="backBtn">
                Back
              </button>
            </div>
            <div class="ma">
              <button mat-button (click)="submitBusinessInfo(true)"  [ngClass]="nextButtonFade ? 'continueBtn':'continueBtn dullbg'">
                <span class="RRegular">Continue</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Templates -->
<ng-template #socialIcons>
    <div class="socialicons">
      <a href="https://www.linkedin.com/company/omningage" target="_"><img src="../../../assets/linkedin.png"></a>
      <a href="https://twitter.com/omningage" target="_"><img src="../../../assets/twitter.png"></a>
      <a href="https://www.youtube.com/channel/UC7yAoKBefwPaJQzDrtSfAlQ/" target="_"><img
          src="../../../assets/youtube.png"></a>
    </div>
  </ng-template>
  <ng-template #copyRights>
    <div class="copyright RRegular">
      Copyright @ {{currentYear}} OMNINGAGE Limited, All rights reserved
    </div>
  </ng-template>