<div class="formContaier RRegular">
  <!-- ***************************************************************************************** -->
  <!-- ***************************************************************************************** -->
  <!-- ***************************************************************************************** -->
  <!-- ***************************************************************************************** -->
  <!-- ***************************************************************************************** -->
  <!-- Select Region -->
  <ng-container *ngIf="message==0">
    <app-BussinessInformation (nextButtonEventBussinessType)="receiveMessage($event)"></app-BussinessInformation>
</ng-container>
  <!-- ***************************************************************************************** -->
  <!-- ***************************************************************************************** -->
  <!-- ***************************************************************************************** -->
  <!-- ***************************************************************************************** -->
  <!-- ***************************************************************************************** -->
  <!-- Share Business Details -->
  <ng-container *ngIf="message==1">
  <app-BussinessInformationDetails (prevButtonEventBussinessInformationType)="receiveMessage($event)" (nextButtonEventBussinessInformationType)="receiveMessage($event)"></app-BussinessInformationDetails>
</ng-container>
  <!-- ***************************************************************************************** -->
  <!-- ***************************************************************************************** -->
  <!-- ***************************************************************************************** -->
  <!-- ***************************************************************************************** -->
  <!-- ***************************************************************************************** -->
   <!-- AWS Account Details -->
   <ng-container *ngIf="message==2">
    <app-AWSConnectForm (prevButtonEventAmazonConnectType)="receiveMessage($event)" (nextButtonEventAmazonConnectType)="receiveMessage($event)" ></app-AWSConnectForm>
   </ng-container>
    <!-- ***************************************************************************************** -->
  <!-- ***************************************************************************************** -->
  <!-- ***************************************************************************************** -->
  <!-- ***************************************************************************************** -->
  <!-- ***************************************************************************************** -->
   <!-- S3 Information Details -->
   <ng-container *ngIf="message==3">
    <app-S3BucketInformationForm (nextButtonEventS3InformationType)="receiveMessage($event)" (prevButtonEventS3InformationType)="receiveMessage($event)"></app-S3BucketInformationForm>
  </ng-container>
  <!-- ***************************************************************************************** -->
  <!-- ***************************************************************************************** -->
  <!-- ***************************************************************************************** -->
  <!-- ***************************************************************************************** -->
  <!-- ***************************************************************************************** -->
   <!-- Database Information -->
   <ng-container *ngIf="message==4">
    <app-DatabaseInformation (prevButtonEventDatabaseInformationType)="receiveMessage($event)" (nextButtonEventDatabaseInformationType)="receiveMessage($event)"></app-DatabaseInformation>
  </ng-container>
  
  <!-- ***************************************************************************************** -->
  <!-- ***************************************************************************************** -->
  <!-- ***************************************************************************************** -->
  <!-- ***************************************************************************************** -->
  <!-- ***************************************************************************************** -->
  <!-- Verification Form -->
  <ng-container *ngIf="message==5">
    <app-verification (prevButtonEventVerificationForm)="receiveMessage($event)" (nextButtonEventVerificationForm)="receiveMessage($event)" (nextButtonEventVerificationForm)="FinalPageShows($event)" (ErrorOccursRedirectToDatabasePage)="DeleteMessage($event)"></app-verification>
  </ng-container>

  <!-- ***************************************************************************************** -->
  <!-- ***************************************************************************************** -->
  <!-- ***************************************************************************************** -->
  <!-- ***************************************************************************************** -->
  <!-- ***************************************************************************************** -->
  <!-- Guide To Whitelist -->
  <!-- <ng-container *ngIf="message==6">
    <app-guide-to-whitelist (nextButtonEventGuideToWhitelistForm)="receiveMessage($event)"></app-guide-to-whitelist>
  </ng-container> -->

  <!-- ***************************************************************************************** -->
  <!-- ***************************************************************************************** -->
  <!-- ***************************************************************************************** -->
  <!-- ***************************************************************************************** -->
  <!-- ***************************************************************************************** -->
  <!-- Steps For Stack Development -->
  <ng-container *ngIf="message==6">
    <app-steps-for-stack-development (prevButtonEventStepsForStackDevelopmentForm)="receiveMessage($event)" (nextButtonEventStepsForStackDevelopmentForm)="receiveMessage($event)" ></app-steps-for-stack-development>
  </ng-container>
  
  <!-- ***************************************************************************************** -->
  <!-- ***************************************************************************************** -->
  <!-- ***************************************************************************************** -->
  <!-- ***************************************************************************************** -->
  <!-- ***************************************************************************************** -->
  <!-- Form successfully submitted page and template link  -->
  <ng-container *ngIf="message==7">
  <app-success (prevButtonEventSuccessForm)="receiveMessage($event)"></app-success>
</ng-container>


  <!-- <ng-container *ngIf="message==4">
    <app-TemplateLinkForm></app-TemplateLinkForm>
    </ng-container> -->
  <!-- <ng-container *ngIf="message==9">
    <app-SubmissionForm  [TemplateLinkSubmission]='TemplateLink'></app-SubmissionForm>
   </ng-container> -->
  
</div>