  <div class="formContaier">
    <div class="wrapper">
      <div class="leftBox">
        <div class="margin30">
          <img src="../../../assets/logo.png">
        </div>
        <div class="success">
            <img src="../../assets/success.svg" >
        </div>
        
        <div class="postion">
          <div class="info">
            <h3>
              For more information about prerequisites
              please visit 
              <a style="color: white;" href="www.omningage.cloud/prereq">www.omningage.cloud/prereq</a>
            </h3>
            
          </div>
          <ng-container *ngTemplateOutlet="socialIcons"></ng-container>
          <ng-container *ngTemplateOutlet="copyRights"></ng-container>
        </div>
       
      </div>
      <div class="rightBox">
        <div class="rightBoxWrapper">
            <div class="tb-center">
                <div class="topBox">
                    <h2>Congratulations!</h2>
                    <p>Deployment has been done successfully.</p>
                    <p><span>Please login to OMNINGAGE by using following URL's. </span></p>
                    <p>Agent / Supervisor: <a style="color: white;" href={{forsupervisor}} target="_blank">{{forsupervisor}}</a></p>        
                    <p>Administration: <a style="color: white;" href={{foradmin}} target="_blank">{{foradmin}}</a></p>
                </div>
            </div>   
            <div class="note">
                
              <strong>NOTE : Use Amazon-connect credentials for Agent and Supervisor, for Admin use
OMNINGAGE credentials, shared via email. In case this email is not visible in your inbox folder, have a look at your spam and junk folder.
              </strong>
            </div>       
          <div class="bottomBox">
            <!-- <div class="ma">
              <button mat-button class="backBtn">
                Back
              </button>
            </div> -->
            <div class="ma">
              <button mat-button class="backBtn" (click)="prev()">
                <span class="RRegular">Back</span>
              </button>
            </div>
            <div class="ma">
              <button mat-button class="continueBtn">
                <span class="RRegular">
                  <a class="logintoadmin" href={{foradmin}} target="_blank">Click to Login on Admin</a>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Templates -->
<ng-template #socialIcons>
    <div class="socialicons">
      <a href="https://www.linkedin.com/company/omningage" target="_"><img src="../../../assets/linkedin.png"></a>
      <a href="https://twitter.com/omningage" target="_"><img src="../../../assets/twitter.png"></a>
      <a href="https://www.youtube.com/channel/UC7yAoKBefwPaJQzDrtSfAlQ/" target="_"><img
          src="../../../assets/youtube.png"></a>
    </div>
  </ng-template>
  <ng-template #copyRights>
    <div class="copyright RRegular">
      Copyright @ 2022 OMNINGAGE Limited, All rights reserved
    </div>
  </ng-template>