
  <!-- Database Information -->
  <!-- [ngClass]="loading ? 'dullbg': ''" -->
  <div>
    <div class="wrapper">
      <div class="leftBox">
        <div class="margin30">
          <img src="../../../assets/logo.png">
        </div>
        <!-- <div class="marginAuto">
          <img src="../../../assets/business.png">
        </div> -->
        <div class="businessinfo">
          <h2>
            Database Information
          </h2>
          <ul>
            <li class="liststyle">Host Name 
              <div class="helpIcon">
                <button mat-button [matMenuTriggerFor]="menu">
                  <span class="material-icons helpIconimg"> info </span>
                </button>
                <mat-menu #menu="matMenu" class="cusclass">
                  <div class="textwrapper">
                    A 12-digit number, such as 123456789012, that uniquely identifies an AWS account. Many AWS resources includes that account id in ther Amazon Resource Name (ARNs). The account id portion distinguishes resources in one account from the resources in another account.
                  </div>
                  <div class="btnwrapper">
                    <button class="video">
                      <a href="www.youtube.com">
                        <span class="material-icons playicon"> play_circle_filled </span>
                      </a>
                    </button>
                    <button class="doc">
                      <a href="www.google.com">
                        <span class="material-icons docicon">  description </span>
                      </a>
                    </button>
                  </div>
                </mat-menu>
              </div>  
            </li>
            <li class="liststyle">VPC ID
              <div class="helpIcon">
                <button mat-button [matMenuTriggerFor]="menu">
                  <span class="material-icons helpIconimg"> info </span>
                </button>
                <mat-menu #menu="matMenu" class="cusclass">
                  <div class="textwrapper">
                    A 12-digit number, such as 123456789012, that uniquely identifies an AWS account. Many AWS resources includes that account id in ther Amazon Resource Name (ARNs). The account id portion distinguishes resources in one account from the resources in another account.
                  </div>
                  <div class="btnwrapper">
                  <button class="video">
                    <span class="material-icons playicon">
                      play_circle_filled
                      </span>
                  </button>
                  <button class="doc">
                    <span class="material-icons docicon">
                      description
                      </span>
                  </button>
                  </div>
                </mat-menu>
              </div>
            </li>
            <li class="liststyle">Port Number
              <div class="helpIcon">
                <button mat-button [matMenuTriggerFor]="menu">
                  <span class="material-icons helpIconimg"> info </span>
                </button>
                <mat-menu #menu="matMenu" class="cusclass">
                  <div class="textwrapper">
                    A 12-digit number, such as 123456789012, that uniquely identifies an AWS account. Many AWS resources includes that account id in ther Amazon Resource Name (ARNs). The account id portion distinguishes resources in one account from the resources in another account.
                  </div>
                  <div class="btnwrapper">
                  <button class="video">
                    <span class="material-icons playicon">
                      play_circle_filled
                      </span>
                  </button>
                  <button class="doc">
                    <span class="material-icons docicon">
                      description
                      </span>
                  </button>
                  </div>
                </mat-menu>
              </div>
            </li>
            <li class="liststyle">CIDR IP
              <div class="helpIcon">
                <button mat-button [matMenuTriggerFor]="menu">
                  <span class="material-icons helpIconimg"> info </span>
                </button>
                <mat-menu #menu="matMenu" class="cusclass">
                  <div class="textwrapper">
                    A 12-digit number, such as 123456789012, that uniquely identifies an AWS account. Many AWS resources includes that account id in ther Amazon Resource Name (ARNs). The account id portion distinguishes resources in one account from the resources in another account.
                  </div>
                  <div class="btnwrapper">
                  <button class="video">
                    <span class="material-icons playicon">
                      play_circle_filled
                      </span>
                  </button>
                  <button class="doc">
                    <span class="material-icons docicon">
                      description
                      </span>
                  </button>
                  </div>
                </mat-menu>
              </div>
            </li>
            <li class="liststyle">Username
              <div class="helpIcon">
                <button mat-button [matMenuTriggerFor]="menu">
                  <span class="material-icons helpIconimg"> info </span>
                </button>
                <mat-menu #menu="matMenu" class="cusclass">
                  <div class="textwrapper">
                    A 12-digit number, such as 123456789012, that uniquely identifies an AWS account. Many AWS resources includes that account id in ther Amazon Resource Name (ARNs). The account id portion distinguishes resources in one account from the resources in another account.
                  </div>
                  <div class="btnwrapper">
                  <button class="video">
                    <span class="material-icons playicon">
                      play_circle_filled
                      </span>
                  </button>
                  <button class="doc">
                    <span class="material-icons docicon">
                      description
                      </span>
                  </button>
                  </div>
                </mat-menu>
              </div>
            </li>
            <li class="liststyle">Security Group Id (RDS)
              <div class="helpIcon">
                <button mat-button [matMenuTriggerFor]="menu">
                  <span class="material-icons helpIconimg"> info </span>
                </button>
                <mat-menu #menu="matMenu" class="cusclass">
                  <div class="textwrapper">
                    A 12-digit number, such as 123456789012, that uniquely identifies an AWS account. Many AWS resources includes that account id in ther Amazon Resource Name (ARNs). The account id portion distinguishes resources in one account from the resources in another account.
                  </div>
                  <div class="btnwrapper">
                  <button class="video">
                    <span class="material-icons playicon">
                      play_circle_filled
                      </span>
                  </button>
                  <button class="doc">
                    <span class="material-icons docicon">
                      description
                      </span>
                  </button>
                  </div>
                </mat-menu>
              </div>
            </li>
            <li class="liststyle">Password
              <div class="helpIcon">
                <button mat-button [matMenuTriggerFor]="menu">
                  <span class="material-icons helpIconimg"> info </span>
                </button>
                <mat-menu #menu="matMenu" class="cusclass">
                  <div class="textwrapper">
                    A 12-digit number, such as 123456789012, that uniquely identifies an AWS account. Many AWS resources includes that account id in ther Amazon Resource Name (ARNs). The account id portion distinguishes resources in one account from the resources in another account.
                  </div>
                  <div class="btnwrapper">
                  <button class="video">
                    <span class="material-icons playicon">
                      play_circle_filled
                      </span>
                  </button>
                  <button class="doc">
                    <span class="material-icons docicon">
                      description
                      </span>
                  </button>
                  </div>
                </mat-menu>
              </div>
            </li>
            <li class="liststyle">Route Table Id
              <div class="helpIcon">
                <button mat-button [matMenuTriggerFor]="menu">
                  <span class="material-icons helpIconimg"> info </span>
                </button>
                <mat-menu #menu="matMenu" class="cusclass">
                  <div class="textwrapper">
                    A 12-digit number, such as 123456789012, that uniquely identifies an AWS account. Many AWS resources includes that account id in ther Amazon Resource Name (ARNs). The account id portion distinguishes resources in one account from the resources in another account.
                  </div>
                  <div class="btnwrapper">
                  <button class="video">
                    <span class="material-icons playicon">
                      play_circle_filled
                      </span>
                  </button>
                  <button class="doc">
                    <span class="material-icons docicon">
                      description
                      </span>
                  </button>
                  </div>
                </mat-menu>
              </div>
            </li>
            <li class="liststyle">Security Group Id (Lambda)
              <div class="helpIcon">
                <button mat-button [matMenuTriggerFor]="menu">
                  <span class="material-icons helpIconimg"> info </span>
                </button>
                <mat-menu #menu="matMenu" class="cusclass">
                  <div class="textwrapper">
                    A 12-digit number, such as 123456789012, that uniquely identifies an AWS account. Many AWS resources includes that account id in ther Amazon Resource Name (ARNs). The account id portion distinguishes resources in one account from the resources in another account.
                  </div>
                  <div class="btnwrapper">
                  <button class="video">
                    <span class="material-icons playicon">
                      play_circle_filled
                      </span>
                  </button>
                  <button class="doc">
                    <span class="material-icons docicon">
                      description
                      </span>
                  </button>
                  </div>
                </mat-menu>
              </div>
            </li>
            <li class="liststyle">Subnet Id
              <div class="helpIcon">
                <button mat-button [matMenuTriggerFor]="menu">
                  <span class="material-icons helpIconimg"> info </span>
                </button>
                <mat-menu #menu="matMenu" class="cusclass">
                  <div class="textwrapper">
                    A 12-digit number, such as 123456789012, that uniquely identifies an AWS account. Many AWS resources includes that account id in ther Amazon Resource Name (ARNs). The account id portion distinguishes resources in one account from the resources in another account.
                  </div>
                  <div class="btnwrapper">
                  <button class="video">
                    <span class="material-icons playicon">
                      play_circle_filled
                      </span>
                  </button>
                  <button class="doc">
                    <span class="material-icons docicon">
                      description
                      </span>
                  </button>
                  </div>
                </mat-menu>
              </div>
            </li>
          </ul>
        </div>
        <!-- <div class="RBold headingbelow">
          Increase First Call Resolution Rate
        </div>
        <div class="description RRegular">
          <span>
            Provide best-in-class customer service for your customers through first call resolution and decrease
            your internal contact centre costs.
          </span>
        </div> -->
        <div class="postion">
          <ng-container *ngTemplateOutlet="socialIcons"></ng-container>
          <ng-container *ngTemplateOutlet="copyRights"></ng-container>
        </div>
      </div>
      <div class="rightBox">
        <div class="rightBoxWrapper">
          <div class="topBox">
            <div class="fromWrapper">
              <div>
                <!-- <div class="RBold firstText">
                  Cloud Service Subscription
                </div> -->
                <div class="RBold secondText">
                  <h2>
                  Database information
                  </h2>
                </div>
                <div class="tickImgBlock">
                  <app-stepper-wizard [inputwizard]="5"></app-stepper-wizard>
                </div>
              </div>
              <div class="b-info">
                  <!-- field -->
                <!-- <div class="menuRow">
                      <input type="text" placeholder="Database" class="dataInput" list="VPCType"
                        [(ngModel)]="omniCustomerDetails.VPCtype">
                      <span class="field-error" *ngIf="this.errors.VPCtype != null">*{{ this.errors.VPCtype }}</span>
                      <datalist id="VPCType">
                        <option class="menuOptions" [value]="menu.type" *ngFor="let menu of VPCType"></option>
                      </datalist>
                  </div> -->
                  <div class="RBold mb-15">
                    <!-- Please select your database. -->
                    Enter your database details
                  </div>
                  <div class="menuRow">
                    <div class="w100 enviormentWrapup">
                      <button class="matbutton" mat-button
                        (click)="VPCTypeDropdown = !VPCTypeDropdown; $event.stopPropagation()">
                        <span class="selectedRegion"
                          [ngClass]="omniCustomerDetails.ISVPCOrPublic? 'selectedDropdown': 'unselectedDropdown'">{{omniCustomerDetails.ISVPCOrPublic?
                          omniCustomerDetails.ISVPCOrPublic: 'Select'}}</span>
                        <span style="float: right;">
                          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="5.98" viewBox="0 0 12 5.98">
                            <defs>
                              <style>
                                .a {
                                  fill: #a2a1a1;
                                }
                              </style>
                            </defs>
                            <path class="a" d="M0,96.879l6,5.98,6-5.98Z" transform="translate(0 -96.879)" />
                          </svg>
                        </span>
                      </button>
                      <div *ngIf="VPCTypeDropdown" class="menuWrapper" (click)="$event.stopPropagation()">
                        <div *ngFor="let env of VPCType;  let i = index;">
                          <label [ngClass]="{'active' : env.type === omniCustomerDetails.ISVPCOrPublic}"
                            (click)="SelectedVpcType(i)" class="menuOptions">
                            <input style="float: right;" id="349" type="radio"
                              [checked]="env.type === omniCustomerDetails.ISVPCOrPublic" name="question1">
                            <span>{{env.type}}</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <span class="field-error" *ngIf="this.errors.ISVPCOrPublic != null">*{{ this.errors.ISVPCOrPublic
                      }}</span>
                  </div>
              <div class="RRegular">
                <span class="regionTagLine">Hostname</span>
              </div>
              <div class="menuRow">
                <input class="dataInput" type="text" [(ngModel)]="omniCustomerDetails.HostName" (keyup)=CheckContinueButton()
                  placeholder="EndPoint/Hostname">
                <span class="field-error" *ngIf="this.errors.HostName">*{{ this.errors.HostName }}</span>
              </div>
              <div class="RRegular">
                <span class="regionTagLine">Port</span>
              </div>
              <div class="menuRow">
                <input class="dataInput" type="text" [(ngModel)]="omniCustomerDetails.Port" (keyup)=CheckContinueButton()
                  placeholder="Port number">
                <span class="field-error" *ngIf="this.errors.Port">*{{ this.errors.Port }}</span>
                <!-- <div matTooltipPosition="after" [matTooltip]="formService.portTooltip" class="helpIcon">
                  <img src="../../../assets/Help.png">
                </div> -->
              </div>
              <div class="RRegular">
                <span class="regionTagLine">User Name</span>
              </div>
              <div class="menuRow">
                <input class="dataInput" autocomplete="off" [(ngModel)]="omniCustomerDetails.UserName" type="text" (keyup)=CheckContinueButton()
                  placeholder="Database username">
                <span class="field-error" *ngIf="this.errors.UserName">*{{ this.errors.UserName }}</span>
                <!-- <div matTooltipPosition="after" [matTooltip]="formService.userNameTooltip" class="helpIcon">
                  <img src="../../../assets/Help.png">
                </div> -->
              </div>
              <div class="RRegular">
                <span class="regionTagLine"> Password </span>
              </div>
              <div class="menuRow">
                <input class="dataInput" autocomplete="off" [(ngModel)]="omniCustomerDetails.Password" type="password" (keyup)=CheckContinueButton()
                  placeholder="Password">
                <span class="field-error" *ngIf="this.errors.Password">*{{ this.errors.Password }}</span>
                <!-- <div matTooltipPosition="after" [matTooltip]="formService.ccpUrlTooltip" class="helpIcon">
                  <img src="../../../assets/Help.png">
                </div> -->
              </div>
              <!-- <div class="ppcs">            
                <div *ngIf="omniCustomerDetails.isVPC">              
                    <input [checked]="omniCustomerDetails.isVPC" (click)="omniCustomerDetails.isVPC=!omniCustomerDetails.isVPC" type="radio">
                </div>
                <div *ngIf="!omniCustomerDetails.isVPC">
                    <input (click)="omniCustomerDetails.isVPC=!omniCustomerDetails.isVPC" type="radio">
                </div>
                <span class="regionTagLine"> VPC </span>
              </div> -->


            <div *ngIf="omniCustomerDetails.ISVPCOrPublic== 'VPC'">
                <div class="RRegular">
                    <span class="regionTagLine"> VPC ID </span>
                  </div>
                  <div class="menuRow">
                    <input class="dataInput" autocomplete="off" [(ngModel)]="omniCustomerDetails.VPCId" type="text" (keyup)=CheckContinueButton()
                      placeholder="VPC ID">
                    <span class="field-error" *ngIf="this.errors.VPCId">*{{ this.errors.VPCId }}</span>
                    <!-- <div matTooltipPosition="after" [matTooltip]="formService.ccpUrlTooltip" class="helpIcon">
                      <img src="../../../assets/Help.png">
                    </div> -->
                  </div>
                  <div class="menuRow">
                    <input class="dataInput" autocomplete="off" [(ngModel)]="omniCustomerDetails.CIDRIP" type="text" (keyup)=CheckContinueButton()
                      placeholder="CIDR IP">
                    <span class="field-error" *ngIf="this.errors.CIDRIP">*{{ this.errors.CIDRIP }}</span>
                    <!-- <div matTooltipPosition="after" [matTooltip]="formService.ccpUrlTooltip" class="helpIcon">
                      <img src="../../../assets/Help.png">
                    </div> -->
                  </div>
                  <div class="RRegular">
                    <span class="regionTagLine"> Security Group Id </span>
                  </div>
                  <div class="menuRow">
                    <input class="dataInput" autocomplete="off" [(ngModel)]="omniCustomerDetails.SecurityGroupId" type="text" (keyup)=CheckContinueButton()
                      placeholder="Security Group Id (RDS)">
                    <span class="field-error" *ngIf="this.errors.SecurityGroupId">*{{ this.errors.SecurityGroupId }}</span>
                    <!-- <div matTooltipPosition="after" [matTooltip]="formService.ccpUrlTooltip" class="helpIcon">
                      <img src="../../../assets/Help.png">
                    </div> -->
                  </div>
                  <div class="RRegular">
                    <span class="regionTagLine"> Route Table Id </span>
                  </div>
                  <div class="menuRow">
                    <input class="dataInput" autocomplete="off" [(ngModel)]="omniCustomerDetails.RouteTableID" type="text" (keyup)=CheckContinueButton()
                      placeholder="Route Table ID">
                    <span class="field-error" *ngIf="this.errors.RouteTableID">*{{ this.errors.RouteTableID }}</span>
                    <!-- <div matTooltipPosition="after" [matTooltip]="formService.ccpUrlTooltip" class="helpIcon">
                      <img src="../../../assets/Help.png">
                    </div> -->
                  </div>
                  <div class="RRegular">
                    <span class="regionTagLine"> Security Group Id (Lambda) </span>
                  </div>
                  <div class="menuRow">
                    <input class="dataInput" autocomplete="off" [(ngModel)]="omniCustomerDetails.SecurityGroupIdForLambda" type="text" (keyup)=CheckContinueButton()
                      placeholder="Security Group Id (Lambda)">
                    <span class="field-error" *ngIf="this.errors.SecurityGroupIdForLambda">*{{ this.errors.SecurityGroupIdForLambda }}</span>
                    <!-- <div matTooltipPosition="after" [matTooltip]="formService.ccpUrlTooltip" class="helpIcon">
                      <img src="../../../assets/Help.png">
                    </div> -->
                  </div>
                  <div class="RRegular">
                    <span class="regionTagLine"> Subnet Id </span>
                  </div>
                  <div class="menuRow">
                    <input class="dataInput" autocomplete="off" [(ngModel)]="omniCustomerDetails.SubnetID" type="text" (keyup)=CheckContinueButton()
                      placeholder="Subnet ID">
                    <span class="field-error" *ngIf="this.errors.SubnetID">*{{ this.errors.SubnetID }}</span>
                    <!-- <div matTooltipPosition="after" [matTooltip]="formService.ccpUrlTooltip" class="helpIcon">
                      <img src="../../../assets/Help.png">
                    </div> -->
                  </div>
              </div>
            </div>
            </div>           
            




          </div>
          <div class="bottomBox">
            <div class="ma">
              <button mat-button (click)="prev()" class="backBtn">
                Back
              </button>
            </div>
            <div class="ma">
              <button mat-button (click)="submitDatabaseInfo()" [ngClass]="nextButtonFade ? 'continueBtn':'continueBtn dullbg'">
                <span class="RRegular">Continue</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Templates -->
<ng-template #socialIcons>
    <div class="socialicons">
      <a href="https://www.linkedin.com/company/omningage" target="_"><img src="../../../assets/linkedin.png"></a>
      <a href="https://twitter.com/omningage" target="_"><img src="../../../assets/twitter.png"></a>
      <a href="https://www.youtube.com/channel/UC7yAoKBefwPaJQzDrtSfAlQ/" target="_"><img
          src="../../../assets/youtube.png"></a>
    </div>
  </ng-template>
  <ng-template #copyRights>
    <div class="copyright RRegular">
      Copyright @ {{currentYear}} OMNINGAGE Limited, All rights reserved
    </div>
  </ng-template>


  <!-- <ng-container *ngIf="loading">
    <span class="processingtext">Processing ... </span>
  <app-ProcessingForm></app-ProcessingForm>
  <div class="success">
    <h1 class="successtext"> 
      <span *ngIf="ImageShown==0" class="material-icons">
        info
        </span>
        <span *ngIf="ImageShown==1" class="material-icons">
        visibility
        </span>
        <span *ngIf="ImageShown==2" class="material-icons">
          favorite
          </span>
        <span *ngIf="ImageShown==3" class="material-icons">
          language
        </span>
        <span *ngIf="ImageShown==4" class="material-icons">
          visibility_off
        </span>
      {{successMessage}}</h1>
  </div>
  
</ng-container> -->


