<div class="formContaier">
    <div class="wrapper">
      <div class="leftBox">
        <div class="margin30">
          <img src="../../../assets/logo.png">
        </div>
        <div class="success">
          <iframe style="border-radius: 10px;" width="450" height="300" src="https://www.youtube.com/embed/DSboYOg3lps">
          </iframe>
        </div>
        
        <div class="postion">
          <div class="info">
            <h3>
              For more information about prerequisites
              please visit 
              <a style="color: white;" href="www.omningage.cloud/prereq">www.omningage.cloud/prereq</a>
            </h3>
            
          </div>
          <ng-container *ngTemplateOutlet="socialIcons"></ng-container>
          <ng-container *ngTemplateOutlet="copyRights"></ng-container>
        </div>
       
      </div>
      <div class="rightBox">
        <div class="rightBoxWrapper">
            <div class="tb-center">
                <div class="topBox">
                    <h2>Please Whitelist <b>OMNINGAGE</b> by following these steps</h2>
                    <ul style="color: white;">
                        <li class="liststyle">Open the Amazon Connect console a
                           <a style="color: white;" href="https://console.aws.amazon.com/connect/" target="_blank">https://console.aws.amazon.com/connect/.</a></li>
                        <li class="liststyle">Choose the name of the instance from Instance Alias.</li>
                        <li class="liststyle">In the navigation panel, choose Approved origins.</li>
                        <li class="liststyle">Choose Add origin.</li>
                        <li class="liststyle">Type the following URL and choose Add.
                          <a style="color: white;"  href="https://eu1-connect.omningage.cloud" target="_blank"> (https://eu1-connect.omningage.cloud)</a> </li>
                    </ul>
                </div>
            </div>   
          <div class="bottomBox">
            <!-- <div class="ma">
              <button mat-button class="backBtn">
                Back
              </button>
            </div> -->
            <div class="ma">
              <button mat-button class="continueBtn" (click)="next()">
                <span class="RRegular">Continue</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Templates -->
<ng-template #socialIcons>
    <div class="socialicons">
      <a href="https://www.linkedin.com/company/omningage" target="_"><img src="../../../assets/linkedin.png"></a>
      <a href="https://twitter.com/omningage" target="_"><img src="../../../assets/twitter.png"></a>
      <a href="https://www.youtube.com/channel/UC7yAoKBefwPaJQzDrtSfAlQ/" target="_"><img
          src="../../../assets/youtube.png"></a>
    </div>
  </ng-template>
  <ng-template #copyRights>
    <div class="copyright RRegular">
      Copyright @ 2022 OMNINGAGE Limited, All rights reserved
    </div>
  </ng-template>