<ul style="padding: 0;">
    <li class="a" [ngClass]="inputwizard==1 ? 'current': ''">Deployment Type</li>
    <li class="b" [ngClass]="inputwizard==2 ? 'current': ''">Business Details</li>
    <li class="c" [ngClass]="inputwizard==3 ? 'current': ''">AWS Connect Details</li>
    <li class="d" [ngClass]="inputwizard==4 ? 'current': ''">Storage Details</li>
    <li class="e" [ngClass]="inputwizard==5 ? 'current': ''">Database Details</li>
    <li class="f" [ngClass]="inputwizard==6 ? 'current': ''">Confirmation</li>
  </ul>