$number-of-steps:  6;

$line-width:       2px;
$bullet-size:      2em;

$background-color: #323E48;
$foreground-color: #555;

$active-background-color: #00B115;
$active-foreground-color: #323E48;

body {
  background-color: $background-color;
  margin: 2em 1em;
}

ol {
  background-color: black;
  position: relative;
  overflow: hidden;
  counter-reset: wizard;  
}

li {
  position: relative;
  float: left;
  width: 100% / $number-of-steps;
  text-align: center;
  color: white;
  font-size: 12px;
}

.current ~ li {
  color: #A2A1A1;
}
li::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
    background-color: transparent !important;
    color: transparent !important;
    border: $line-width solid transparent !important;
}
// li.current.abc:before{
//   content: "";
//   // display: block;
//   // width: 100%;
//   // background-color: #00B115;
//   // height: 2px;
//   // position: absolute;
//   // left: 50%;
//   // top: 1em;
//   // border: none;
// }
// li:before {
//   background-color: $background-color;
//   color: transparent;
//   border-color:#A2A1A1;
// }
// li:before {
//   counter-increment: wizard;
//   font-family: FontAwesome;
//   content: "\f00c";
//   display: block;
//   color: white;
//   background-color: $active-background-color;
//   border: $line-width solid $active-background-color;
//   text-align: center;
//   width: $bullet-size;
//   height: $bullet-size;
//   line-height: $bullet-size;
//   border-radius: $bullet-size;
//   position: relative;
//   left: 50%;
//   margin-bottom: $bullet-size / 2;
//   margin-left: $bullet-size * -0.5;
//   z-index: 1;
// }

li:before {
  counter-increment: wizard;
   font-family: FontAwesome;
   content: "\f00c";
  display: block;
  color: white;
  background-color: $active-background-color;
  border: $line-width solid #00B115;
  text-align: center;
  width: $bullet-size;
  height: $bullet-size;
  line-height: $bullet-size;
  border-radius: $bullet-size;
  position: relative;
  left: 50%;
  margin-bottom: $bullet-size / 2;
  margin-left: $bullet-size * -0.5;
  z-index: 1;
  
  .current ~ & {
    background-color: $background-color;
    color: transparent;
    border-color:#A2A1A1;
  }
}

li.current:after {
  background-color: $background-color;
  color: transparent;
  border-color:#A2A1A1;
  top: 0;
  z-index: 1;
  display: block;
  color: white;
  background-color: #fff;
  border: $line-width solid #fff;
  text-align: center;
  width: $bullet-size;
  height: $bullet-size;
  line-height: $bullet-size;
  border-radius: $bullet-size;
  position: absolute;
  left: 50%;
  margin-bottom: $bullet-size / 2;
  margin-left: $bullet-size * -0.5;
  z-index: 1;
}
li:after{
  content: "";
  display: block;
  width: 100%;
  background-color: #A2A1A1;
  height: $line-width;
  position: absolute;
  left: 50%;
  top: 1em;
  top: $bullet-size / 2;
}
li.current.a:after{ left:50%;}
li.a:after{ left: 50%;}
li.b:after{ left: 50%;}
li.current.b:after{ left: 50%;}
li.c:after{ left: 50%;}
li.current.c:after{ left: 50%;}
li.d:after{ left: 50%;}
li.current.d:after{ left: 50%;}
li.e:after{ left: 50%;}
li.current.e:after{ left: 50%;}
li.f:after{ left: -50%;}
li.current.f:after{ left: 50%;}
// .current ~ li:after {
//     background-color: white;
// }
ul::after{
  content: "";
  display: block;
  width: 80%;
  background-color: #A2A1A1;
  height: 2px;
  position: relative;
  left: 10%;
  top: 12px;
}