.formContaier {
    height: 100%;
    width: 100%;
    position: relative;
    background: url(../../../assets/loginbackground.jpg);
    
  }
  
  .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 830px;
    display: flex;
    width: 1245px;
  }
  
  .leftBox {
    width: 55%;
    background: #0097cf;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .rightBox {
    width: 45%;
    background: #323e48;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .rightBoxWrapper {
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .marginAuto {
    margin: auto;
  }
  
  .margin30 {
    margin: 30px 30px 10px 30px;
  }
  
  .headingbelow {
    font-size: 24px;
    text-align: center;
    color: white;
  }
  
  .description {
    margin: auto;
    text-align: center;
    color: white;
    margin-top: 22px;
    margin-bottom: 100px;
    padding: 0px 30px;
  }
  
  .description span {
    font-size: 14px;
    color: white;
    line-height: 25px;
  }
  
  .socialicons {
    width: 100%;
    text-align: center;
    margin-bottom: 29px;
  }
  
  .socialicons a {
    margin: 0px 5px;
  }
  
  .socialicons img {
    height: 50px;
    width: 50px;
  }
  
  .copyright {
    text-align: center;
    font-size: 12px;
    color: #5bd2fe;
    margin-bottom: 25px;
  }
  
  .example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }
  
  ::ng-deep .mat-menu-panel {
    max-width: 383px !important;
    width: 383px !important;
    border-bottom-left-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
    border: 1px solid #0097cf;
  }
  
  .Small {
    width: 184px !important;
  }
  
  ::ng-deep .Small,
  .mat-menu-panel {
    max-width: 184px !important;
    width: 184px !important;
    border-bottom-left-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
    border: 1px solid #0097cf;
  }
  
  .matbutton {
    height: 38px;
    width: 100%;
    text-align: left;
    background: transparent;
    color: #fff;
    padding: 0px 10px;
    border-radius: 5px;
    border: 1px solid #fff;
  }
  
  .matbuttonsmall {
    width: 100%;
    text-align: left;
    background: white;
    color: #a2a1a1;
    border-radius: 4px;
    padding: 0px 10px;
    font-size: 12px;
  }
  
  .matinput {
    border: none;
    outline: none;
    width: 356px !important;
    padding: 0px 14px;
    border-radius: 4px;
  }
  
  .matinputsmall {
    border: none;
    outline: none;
    width: 159px !important;
    padding: 0px 14px;
    border-radius: 4px;
  }
  
  .dropdwon {
    width: 178px;
    position: absolute;
    z-index: 1;
    background: white;
    padding-right: 7px;
    border: 1px solid #0097cf;
    margin-top: -4px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 10px 0px;
    height: 100px;
    overflow-y: auto;
  }
  
  .field-error {
    margin-top: 2px;
    color: #f34242;
    font-size: 15px;
    font-style: italic;
    position: absolute;
    bottom: -20px;
  }
  .error {
    margin-top: 2px;
    color: #f34242;
    font-size: 13px;
  }
  
  ::ng-deep.cdk-overlay-pane {
    transform: translate(-0.5px, 38px);
  }
  
  .menuOptions {
    cursor: pointer;
    width: 100%;
    color: #a2a1a1;
    margin-bottom: 5px;
  }
  
  .menuWrapper {
    position: absolute;
    width: 100%;
    height: 90px;
    overflow: auto;
    background: white;
    z-index: 2;
    border: 1px solid #323e48;
    padding: 10px 0px;
    margin-left: -0.6px;
    border-radius: 5px;
  }
  .menuWrapper1 {
    position: absolute;
    width: 38%;
    height: 50px;
    overflow: auto;
    background: white;
    z-index: 2;
    border: 1px solid #323e48;
    padding: 10px 0px;
    margin-left: -0.6px;
    border-radius: 5px;
  }
  .menuWrapper1 > div {
    margin: 0px 12px;
    display: flex;
    width: 90%;
    font-size: 11px;
    margin: auto;
  }
  .menuWrapper > div {
    margin: 0px 12px;
    display: flex;
    width: 90%;
    font-size: 11px;
    margin: auto;
  }
  
  .active {
    color: #0097cf;
  }
  
  label input[type="radio"]:checked ~ span {
    color: #0097cf;
  }
  
  .selectedRegion {
    font-size: 12px;
    color: #0097cf;
  }
  
  .regionTagLine {
    font-size: 14px;
    margin-bottom: 10px;
    color: white;
  }
  
  .menuRow {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
    flex-direction: column;
  }
  
  .continueBtn {
    padding: 1em;
    width: 135px;
    cursor: pointer;
    background: #0097cf;
    text-decoration: none;
    color: #fff;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .continueBtn:before {
    position: absolute;
    z-index: -1;
    top: calc(50% - 10px);
    right: 0;
    content: '';
    border-style: solid;
    border-width: 10px 0 10px 11px;
    border-color: transparent transparent transparent #0097cf;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .continueBtn:hover{
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  .continueBtn:hover:before{
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  .topBox {
    height: 93%;
  }
  .tb-center{
    //   display: table;
      height: 100%;
  }
  .topBox{
      display: table-cell;
      vertical-align: middle;
  }
  .topBox h2, .topBox p{
      color: #fff;
      margin: 0;
}
.topBox p span{
   font-weight: 600;
}
.note{
    color: #A2A1A1;
    font-size: 12px;
    height: 10%;
}
  .bottomBox {
    display: flex;
    margin: 0px 0px 0px auto;
    padding-top: 15px;
  }
  
  .ma {
    margin: auto 0px;
  }
  
  .backBtn {
    width: 75px;
    height: 35px;
    color: white;
    margin-right: 5px;
  }
  
  .fromWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .firstText {
    margin-bottom: 5px;
    font-size: 14px;
    color: white;
  }
  
  .secondText {
    font-size: 24px;
    color: white;
    margin-top: 20px;
  }
  
  .tickImgBlock {
    margin-top: 20px;
    margin-bottom: 100px;
  }
  
  .dataInput {
    height: 38px;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    padding: 0px 10px;
  }
  
  .dropdownBlock {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .dropdownBlockWrapper {
    display: flex;
    flex-direction: column;
    width: 49%;
  }
  
  .w100 {
    width: 100%;
  }
  
  .firstPage {
    justify-content: unset;
  }
  
  .helpIcon {
    position: absolute;
    right: 65%;
    top: -2px;
  }
  
  ::ng-deep .mat-menu-panel {
    max-width: 368px !important;
  }
  
  .selectedDropdown {
    // margin-left: -7px;
    color: white;
  }
  
  .unselectedDropdown {
    // margin-left: -7px;
    color: #fff;
  }
  .enviormentWrapup {
    position: relative;
  }
  
  .bottomBox > .ma > button {
    cursor: pointer;
  }
  .miniInputLeft {
    width: 450px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    height: 35px;
  }
  .miniInputRight {
    width: 200px !important;
  }
  .b-info{
    height: 550px;
    overflow-y: auto;
    padding: 0 10px;
  }
  .success{
   display: flex;
  }
  .success img{
      margin: auto;
      padding-top: 90px;
  }
  .businessinfo h2{
    margin: 0;
    color: white;
    display: flex;
    text-align: center;
    font-size: 18px;
  }
  .info{
    padding: 10px 30px 30px 30px;
    // margin-top: 20px;
  }
  .info h3{
    margin: 0;
    color: white;
    text-align: center;
    font-size: 16px;
  }
  .postion{
    position: absolute;
    bottom: 0;
    right: 50%;
  }
 
  .dullbg{
    opacity: 0.3;
    pointer-events:none;
  }
  .d-flex{
      display: flex;
      gap: 20px;
      margin-bottom: 10px;
    }
  .inputheight{
    height: 30px;
    width: 220px;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 5px;
    color: #fff;
    padding: 3px;
  }
  .contactnumber{
    height: 30px;
    width: 180px;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 0px 5px 5px 0px;
    color: #fff;
    padding: 3px;
  }
  .countrycode{
    width: 40px;
    text-align: center;
    color: black;
    border-radius: 5px 0px 0px 5px;
    padding-top: 9px;
    background: #b0b0b0;
  }
  .flex{
    display: flex;
  }
  .inputheight1{
    height: 30px;
    width: 100%;
    // width: 450px;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 5px;
    color: #fff;
    padding: 3px;
  }
  :focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}
  .title h2{
    font-size: 24px;
    margin: 0;
      color: #fff;
  }
  .business-wrpper h3{
      margin: 0;
      color: #fff;
      font-weight: 500;
      font-size: 18px;
  }
  .development-type h3{
    margin: 0;
      color: #fff;
      font-weight: 500;
      font-size: 16px;
  }
  .amazon-connect h3{
    margin: 0;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}
.storagedetails h3{
  margin: 0;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}
.database-info h3{
  margin: 0;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 5px;
}
  //placeholder text color
  ::-webkit-input-placeholder {
    color: #fff;
 }
 .form-group {
  position: relative;
 }
.form-group button{
  display: none;
  height: 25px;
  width: 25px;
  color: #0097CF;
  text-align: center;
  border-radius: 50%;
  background: #fff;

}
.form-group button span{
  font-size: 15px;
    padding-top: 3px;
    position: relative;
    right: 1px;
}
.form-group:hover{
  background: rgb(255,255,255, 0);
}
.form-group:hover .inputheight1{
  border: 1px solid #0097CF;
  background: linear-gradient(90deg, rgba(255,255,255,0) 80%, rgba(0,151,207,1) 100%);
}
.form-group .inputheight1:hover{
  border: 1px solid #0097CF;
  background: linear-gradient(90deg, rgba(255,255,255,0) 80%, rgba(0,151,207,1) 100%);
}
.form-group:hover .inputheight{
  border: 1px solid #0097CF;
  background: linear-gradient(90deg, rgba(255,255,255,0) 80%, rgba(0,151,207,1) 100%);
}
.form-group .inputheight:hover{
  border: 1px solid #0097CF;
  background: linear-gradient(90deg, rgba(255,255,255,0) 80%, rgba(0,151,207,1) 100%);
}
.form-group:hover button{
  display: block;
  position: absolute;
  right: 6px;
  top: 7px;
  z-index: 2;
}
.main-wrapper{
  height: 650px;
  overflow-y: auto;
  padding-right: 20px;
}
:host ::ng-deep .mat-radio-outer-circle{
  border-color: #fff !important;
}
:host ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle{
  background-color: #fff ;
}
.radiobtn{
  margin: 5px auto;
}
.textcolor{
  color: #fff;
}
.pl10{
  padding-left: 20px;
}
.devtypedropdown{
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  margin-top: 3px;
}
.regiondd{
  height: auto;
  width: 220px;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 5px;
  color: #fff;
  padding: 3px;
}
.regionlable{
  display: flex;
    justify-content: space-between;
    width: 100%;
}

.success{
  position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-50%, -50%);
}
.successtext{
  margin-top: 150px;
  margin-left: 670px;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    font-family: "Roboto";
    border: 1px solid;
    background: green;
    width: 310px;
    text-align: center;
    border-radius: 5px;
    padding: 5px 20px;
}
.processingtext{
  color: black;
  position: absolute;
  transform: translate(920px, -560px);
}

.activeif{
  color: #323E48;
    height: 30px;
    width: 220px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 5px;
    padding: 3px;
}

.iconposition{
  position: absolute;
    right: 30%;
    bottom: 26px;
}
@media (max-width: 1600px){
  .wrapper{
    height: 100%;
  }
  .rightBoxWrapper{
    padding: 10px 30px;
  }
  .bottomBox{
    padding-top: 5px;
  }
  .d-flex{
  
    margin-bottom: 5px;
  }
  .processingtext{
    transform: translate(720px, -560px);
  }
  .success{
    top: 40%;
  }
}

.omningage-url label{
  font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
    display: block;
}
.omni-url{
  height: 18px;
  background: #b0b0b0;
  color: #323e48;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid #fff;
}
.omni-url input{
  border: 1px solid #fff;
  width: 80%;
  font-size: 14px;
  padding: 5px;
  border-radius: 3px;
  color: #fff;
  background: #323e48;
}
.omni-url input:focus-visible{
  outline: transparent;
}
.helpIcon-url{
  position: absolute;
  right: -10px;
  top: 36px;
}
.helpIcon-url span, .helpIcon span{
  color: #919294;
}
.w95{
  width: 95%;
}