<div class="formContaier" [ngClass]="loading ? 'dullbg': ''">
    <div class="wrapper">
      <div class="leftBox">
        <div class="margin30">
          <img src="../../../assets/logo.png">
        </div>
        <div class="success">
            <img src="../../assets/verification.svg" >
        </div>
        
        <div class="postion">
          <div class="info">
            <h3>
              For more information about prerequisites
              please visit 
              <a style="color: white;" href="www.omningage.cloud/prereq">www.omningage.cloud/prereq</a>
            </h3>
            
          </div>
          <ng-container *ngTemplateOutlet="socialIcons"></ng-container>
          <ng-container *ngTemplateOutlet="copyRights"></ng-container>
        </div>
       
      </div>
      <div class="rightBox">
        <div class="rightBoxWrapper">
            <div class="tb-center">
                <div class="topBox">
                  <div class="title">
                     <h2>Verify</h2>
                  </div>
                <div class="main-wrapper">
                  <div class="development-type">
                    <h3>Development Type</h3>
                    <!-- <p-dropdown  placeholder="Development Type" optionLabel="name"></p-dropdown> -->
                    <div class="w100 enviormentWrapup">
                      <button class="matbutton" mat-button
                      (click)="enviormentDropdown = !enviormentDropdown; $event.stopPropagation()">
                        <span class="selectedRegion RRegular"
                          [ngClass]="omniCustomerDetails.DeploymentStage? 'selectedDropdown': 'unselectedDropdown'">{{omniCustomerDetails.DeploymentStage?
                          omniCustomerDetails.DeploymentStage: 'Select deployment stage'}}</span>
                        <span style="float: right;">
                          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="5.98" viewBox="0 0 12 5.98">
                            <defs>
                              <style>
                                .a {
                                  fill: #a2a1a1;
                                }
                              </style>
                            </defs>
                            <path class="a" d="M0,96.879l6,5.98,6-5.98Z" transform="translate(0 -96.879)" />
                          </svg>
                        </span>
                      </button>
                    </div>
                    <div *ngIf="enviormentDropdown" (click)="$event.stopPropagation()" class="menuWrapper1">
                      <div *ngFor="let env of Environment;  let i = index;">
                        <label class="regionlable"
                          (click)="SelectedEnvironment(i)" class="menuOptions">
                          <input style="float: right;" id="349" type="radio"
                            [checked]="env.environment === omniCustomerDetails.DeploymentStage" name="question1">
                          <span>{{env.environment}}</span>
                        </label>
                      </div>
                      <span class="error" *ngIf="this.errors.DeploymentStage != null">*{{ this.errors.DeploymentStage }}</span>
                    </div>
                  </div>
                  <!-- =====create your domain -->
                  <div class="menuRow">
                    <div class="w100 enviormentWrapup">                  
                      <div class="omningage-url">
                        <div class="omni-url">
                          <span>https://</span>
                          <input type="text" [(ngModel)]="omniCustomerDetails.SubDomain" placeholder="Sub Domain" maxlength="20" (focusout)="buttonDisabled=false;submitDeploymentType()">
                          <span>.omningageaws.cloud</span>
                        </div>
                        <span class="field-error" *ngIf="this.errors.SubDomain != null">*{{ this.errors.SubDomain }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="business-wrpper">
                    <h3>Business Details</h3>
                     
                          <div class="d-flex">
                            <div class="form-group ">
                              <input type="text" class="form-control inputheight" id="CompanyName" [disabled]="!buttonDisabled" [(ngModel)]="omniCustomerDetails.CompanyName" (focusout)="buttonDisabled=false;submitBusinessInfo(true)" aria-describedby="emailHelp" placeholder="Company Name">
                              <button type="button"matRipple (click)="buttonDisabled=true" >
                                <span class="material-icons"> edit</span>
                              </button>
                              <span class="error" *ngIf="this.errors.CompanyName != null">*{{ this.errors.CompanyName }}</span>
                            </div>
                            <div class="form-group ">
                              <input type="email" class="form-control inputheight" id="Email" [disabled]="!buttonDisabled" [(ngModel)]="omniCustomerDetails.Email" (focusout)="buttonDisabled=false;submitBusinessInfo(true)" placeholder="Email">
                              <button type="button"matRipple (click)="buttonDisabled=true">
                                <span class="material-icons"> edit</span>
                              </button>
                              <span class="error" *ngIf="this.errors.Email != null">*{{ this.errors.Email }}</span>
                            </div>
                          </div>
                          <div class="d-flex">
                            <div class="form-group ">
                              <div>
                                <input type="text" (change)="SelectedCountry()" placeholder="Country"
                                  class="form-control inputheight" list="countries" [(ngModel)]="omniCustomerDetails.Country">
                                <datalist id="countries">
                                  <option class="menuOptions" [value]="country.name" *ngFor="let country of countries"></option>
                                </datalist>
                              </div>
                                <span class="error" *ngIf="this.errors.Country != null">*{{ this.errors.Country }}</span>
                            </div>
                              <div class="form-group ">
                                <div>
                                  <input type="text" (change)="SelectedState()" placeholder="State"
                                    class="form-control inputheight" list="states" [(ngModel)]="omniCustomerDetails.State">
                                  <datalist id="states">
                                    <option class="menuOptions" [value]="state.name" *ngFor="let state of states"></option>
                                  </datalist>
                                </div>
                                <span class="error" *ngIf="this.errors.State != null">*{{ this.errors.State }}</span>
                              </div>
                          </div>
                          <div class="d-flex">
                            <div class="form-group ">
                              <div>
                                <input type="text" placeholder="City" class="form-control inputheight" list="cities"
                                  [(ngModel)]="omniCustomerDetails.City">
                                <datalist id="cities">
                                  <option class="menuOptions" [value]="city.name" *ngFor="let city of cities"></option>
                                </datalist>
                              </div>
                            </div>
                            <div class="form-group ">
                              <input type="number" class="form-control inputheight" id="ZIPPostCode" [disabled]="!buttonDisabled" [(ngModel)]="omniCustomerDetails.ZIP_PostCode" (focusout)="buttonDisabled=false;submitBusinessInfo(true)" placeholder="Zip/Post Code">
                              <button type="button"matRipple (click)="buttonDisabled=true">
                                <span class="material-icons"> edit</span>
                                </button>
                                <span class="error" *ngIf="this.errors.ZIP_PostCode != null">*{{ this.errors.ZIP_PostCode }}</span>
                            </div>
                          </div>
                          <div class="d-flex">
                            <div class="form-group flex">
                              <span class="countrycode">{{CountryPhoneCode}}</span>
                              <input type="text" class="form-control contactnumber" id="Contact" [disabled]="!buttonDisabled" [(ngModel)]="omniCustomerDetails.Contact" (focusout)="buttonDisabled=false;submitBusinessInfo(true)" aria-describedby="emailHelp" placeholder="Contact Number">
                              <button type="button"matRipple (click)="buttonDisabled=true">
                                <span class="material-icons"> edit</span>
                                </button>
                                <span class="error" *ngIf="this.errors.Contact != null">*{{ this.errors.Contact }}</span>
                            </div>
                              <div class="form-group ">
                                <input type="text" class="form-control inputheight" id="BusinessAddress" [disabled]="!buttonDisabled" [(ngModel)]="omniCustomerDetails.BusinessAddress" (focusout)="buttonDisabled=false;submitBusinessInfo(true)" placeholder="Business Address">
                                <button type="button"matRipple (click)="buttonDisabled=true">
                                  <span class="material-icons"> edit</span>
                                  </button>
                                  <span class="error" *ngIf="this.errors.BusinessAddress != null">*{{ this.errors.BusinessAddress }}</span>
                              </div>
                          </div>
                      
                  </div>
                  <div class="amazon-connect">
                    <h3>Amazon Connect Details</h3>
                          <div class="d-flex">
                            <div class="form-group ">
                            <input type="text" class="form-control inputheight" id="exampleInputEmail1" [disabled]="!buttonDisabled" [(ngModel)]="omniCustomerDetails.AWSAccountNumber" (focusout)="buttonDisabled=false;submitConnectAccountDetail(true)" aria-describedby="emailHelp" placeholder="AWS Account Number">
                            <button type="button"matRipple (click)="buttonDisabled=true">
                              <span class="material-icons"> edit</span>
                              </button>
                              <span class="error" *ngIf="this.errors.AWSAccountNumber != null">*{{ this.errors.AWSAccountNumber }}</span>
                            </div>
                            <div class="form-group ">
                              <input type="text" class="form-control inputheight" id="exampleInputPassword1" [disabled]="!buttonDisabled" [(ngModel)]="omniCustomerDetails.ccpURL" (focusout)="buttonDisabled=false;submitConnectAccountDetail(true)" placeholder="CCP URL">
                              <button type="button"matRipple (click)="buttonDisabled=true">
                                <span class="material-icons"> edit</span>
                                </button>
                                <span class="error" *ngIf="this.errors.ccpURL != null">*{{ this.errors.ccpURL }}</span>
                            </div>
                          </div>
                          <div class="d-flex">
                            <div class="form-group ">
                              <input type="text" class="form-control inputheight" id="exampleInputEmail1" [disabled]="!buttonDisabled" [(ngModel)]="omniCustomerDetails.InstanceName" (focusout)="buttonDisabled=false;submitConnectAccountDetail(true)" aria-describedby="emailHelp" placeholder="Alias Name">
                              <button type="button"matRipple (click)="buttonDisabled=true">
                                <span class="material-icons"> edit</span>
                                </button>
                                <span class="error" *ngIf="this.errors.InstanceName != null">*{{ this.errors.InstanceName }}</span>
                            </div>
                            <div class="form-group ">
                              <input type="text" class="form-control inputheight" id="exampleInputPassword1" [disabled]="!buttonDisabled" [(ngModel)]="omniCustomerDetails.CrossAccountRoleARN" (focusout)="buttonDisabled=false;submitConnectAccountDetail(true)" placeholder="S3 Bucket Name">
                              <button type="button"matRipple (click)="buttonDisabled=true">
                                <span class="material-icons"> edit</span>
                                </button>
                                <span class="error" *ngIf="this.errors.CrossAccountRoleARN != null">*{{ this.errors.CrossAccountRoleARN }}</span>
                            </div>
                          </div>
                          <div class="d-flex ">
                            <div class="w100 enviormentWrapup">
                                <button mat-button class="matbutton" (click)="RegionDropdown = !RegionDropdown; $event.stopPropagation()">
                                  <span class="selectedRegion RRegular"
                                  [ngClass]="omniCustomerDetails.DeploymentStage? 'selectedDropdown': 'unselectedDropdown'">{{omniCustomerDetails.Region? omniCustomerDetails.Region: 'Region'}}</span>
                                  <span style="float: right;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="5.98" viewBox="0 0 12 5.98">
                                      <defs>
                                        <style>
                                          .a {
                                            fill: #000000;
                                          }
                                        </style>
                                      </defs>
                                      <path class="a" d="M0,96.879l6,5.98,6-5.98Z" transform="translate(0 -96.879)" />
                                    </svg>
                                  </span>
                                </button>
                                <div class="menuWrapper" *ngIf="RegionDropdown" (click)="$event.stopPropagation()">
                                  <div *ngFor="let reg of regions;  let i = index;">
                                    <label class="regionlable"
                                      (click)="SelectedRegionType(i)">
                                      <span class="menuOptions">{{reg.region}}</span>
                                      <input style="float: right;" id="349" type="radio"
                                        [checked]="reg.region === omniCustomerDetails.Region" name="question1">
                                    </label>
                                  </div>
                                </div>
                              <span class="error" *ngIf="this.errors.Region != null">*{{ this.errors.Region }}</span>
                            </div>
                            <div class="form-group ">
                              <input type="text" class="form-control inputheight" id="exampleInputPassword1" [disabled]="!buttonDisabled" [(ngModel)]="omniCustomerDetails.InstanceARN" (focusout)="buttonDisabled=false;submitConnectAccountDetail(true)" placeholder="Instance ARN">
                              <button type="button"matRipple (click)="buttonDisabled=true">
                                <span class="material-icons"> edit</span>
                              </button>
                              <span class="error" *ngIf="this.errors.InstanceARN != null">*{{ this.errors.InstanceARN }}</span>
                            </div>
                          </div>
                          <div class="d-flex">
                            <div class="form-group ">
                              <input type="text" class="form-control inputheight" id="exampleInputEmail1" [disabled]="!buttonDisabled"[(ngModel)]="omniCustomerDetails.CtrKinesisARN" (focusout)="buttonDisabled=false;submitConnectAccountDetail(true)" aria-describedby="emailHelp" placeholder="Stream ARN">
                              <button type="button"matRipple (click)="buttonDisabled=true">
                                <span class="material-icons"> edit</span>
                              </button>
                              <span class="error" *ngIf="this.errors.CtrKinesisARN != null">*{{ this.errors.CtrKinesisARN }}</span>
                            </div>
                              <div class="form-group ">
                              <input type="text" class="form-control inputheight" id="exampleInputPassword1" [disabled]="!buttonDisabled" [(ngModel)]="omniCustomerDetails.AgentKinesisARN" (focusout)="buttonDisabled=false;submitConnectAccountDetail(true)" placeholder="Agent Event Stream ARN">
                              <button type="button"matRipple (click)="buttonDisabled=true">
                                <span class="material-icons"> edit</span>
                              </button>
                              <span class="error" *ngIf="this.errors.AgentKinesisARN != null">*{{ this.errors.AgentKinesisARN }}</span>
                              </div>
                          </div>
                          <div class="form-group d-flex">
                            <input type="text" class="form-control inputheight1" id="exampleInputEmail1" [disabled]="!buttonDisabled" (focusout)="buttonDisabled=false;submitConnectAccountDetail(true)" [(ngModel)]="omniCustomerDetails.CrossAccountRoleARN" aria-describedby="emailHelp" placeholder="Cross-Account Role">
                            <button type="button"matRipple (click)="buttonDisabled=true">
                              <span class="material-icons"> edit</span>
                            </button>
                            <span class="error" *ngIf="this.errors.CrossAccountRoleARN != null">*{{ this.errors.CrossAccountRoleARN }}</span>
                        </div>
                  </div>
                  <div class="storagedetails">
                      <h3>Storage Details</h3>
                        <p>Are you using same S3 bucket for Call Recording, Email and Chat Transcripts</p>
                        <div class="form-group d-flex" *ngIf="omniCustomerDetails.S3Type=='Yes'">
                          <input type="text" class="form-control inputheight1" id="BucketNameForCallRecording" [(ngModel)]="omniCustomerDetails.BucketNameForCallRecording" aria-describedby="emailHelp" placeholder="S3 Bucket ARN" disabled>
                      </div>
                        <div class="form-group d-flex" *ngIf="omniCustomerDetails.S3Type=='No'">
                            <input type="text" class="form-control inputheight1" id="BucketNameForCallRecordingNo" [(ngModel)]="omniCustomerDetails.BucketNameForCallRecording" aria-describedby="emailHelp" placeholder="S3 name for call recording" disabled>
                        </div>
                        <div class="form-group d-flex" *ngIf="omniCustomerDetails.S3Type=='No'">
                          <input type="text" class="form-control inputheight1" id="BucketNameForChatAttachment" [(ngModel)]="omniCustomerDetails.BucketNameForChatAttachment" aria-describedby="emailHelp" placeholder="S3 name for chat transcripts" disabled>
                        </div>
                        <div class="form-group d-flex" *ngIf="omniCustomerDetails.S3Type=='No'">
                        <input type="text" class="form-control inputheight1" id="BucketNameForChatTranscript" [(ngModel)]="omniCustomerDetails.BucketNameForChatTranscript" aria-describedby="emailHelp" placeholder="S3 name for email transcripts" disabled>
                        </div>
                  </div>
                  <div class="database-info">
                    <h3>Database Information</h3>
                      <div class="vpc">
                        <!-- <p>VPC</p> -->
                          <div class="form-group d-flex">
                            <input type="text" class="form-control inputheight1" id="Hostname" [disabled]="!buttonDisabled" [(ngModel)]="omniCustomerDetails.HostName" (focusout)="buttonDisabled=false;submitDatabaseInfo(true)" aria-describedby="emailHelp" placeholder="IP/Hostname">
                            <button type="button"matRipple (click)="buttonDisabled=true">
                              <span class="material-icons"> edit</span>
                            </button>
                            <span class="error" *ngIf="this.errors.HostName != null">*{{ this.errors.HostName }}</span>
                          </div>
                          <div class="form-group d-flex">
                              <input type="text" class="form-control inputheight1" id="Port" [disabled]="!buttonDisabled" [(ngModel)]="omniCustomerDetails.Port" (focusout)="buttonDisabled=false;submitDatabaseInfo(true)" aria-describedby="emailHelp" placeholder="Port Number">
                              <button type="button"matRipple (click)="buttonDisabled=true">
                                <span class="material-icons"> edit</span>
                              </button>
                              <span class="error" *ngIf="this.errors.Port != null">*{{ this.errors.Port }}</span>
                          </div>
                          <div class="form-group d-flex">
                            <input type="text" class="form-control inputheight1" id="Username" [disabled]="!buttonDisabled" [(ngModel)]="omniCustomerDetails.UserName" (focusout)="buttonDisabled=false;submitDatabaseInfo(true)" aria-describedby="emailHelp" placeholder="Database Username">
                            <button type="button"matRipple (click)="buttonDisabled=true">
                              <span class="material-icons"> edit</span>
                            </button>
                            <span class="error" *ngIf="this.errors.UserName != null">*{{ this.errors.UserName }}</span>
                          </div>
                          <div class="form-group d-flex">
                          <input type="password" class="form-control inputheight1" id="Password" [disabled]="!buttonDisabled" [(ngModel)]="omniCustomerDetails.Password" (focusout)="buttonDisabled=false;submitDatabaseInfo(true)" aria-describedby="emailHelp" placeholder="Password">
                          <button type="button"matRipple (click)="buttonDisabled=true">
                            <span class="material-icons"> edit</span>
                          </button>
                          <span class="error" *ngIf="this.errors.Password != null">*{{ this.errors.Password }}</span>
                          </div>
                      </div>
                      <div class="public" *ngIf="omniCustomerDetails.ISVPCOrPublic == 'VPC'">
                        <!-- <p>Public</p> -->
                          <div class="form-group d-flex">
                            <input type="text" class="form-control inputheight1" id="VPCId" aria-describedby="emailHelp" [(ngModel)]="omniCustomerDetails.VPCId" placeholder="VPC ID" disabled>
                            </div>
                            <div class="form-group d-flex">
                          <input type="text" class="form-control inputheight1" id="CIDRIP" aria-describedby="emailHelp" [(ngModel)]="omniCustomerDetails.CIDRIP" placeholder="CIDR IP" disabled>
                          </div>
                          <div class="form-group d-flex">
                            <input type="text" class="form-control inputheight1" id="SecurityGroupId" aria-describedby="emailHelp" [(ngModel)]="omniCustomerDetails.SecurityGroupId" placeholder="Security Group Id(RDS)" disabled>
                            </div>
                            <div class="form-group d-flex">
                              <input type="text" class="form-control inputheight1" id="RouteTableId" aria-describedby="emailHelp" [(ngModel)]="omniCustomerDetails.RouteTableID" placeholder="Route Table ID" disabled>
                            </div>
                            <div class="form-group d-flex">
                              <input type="text" class="form-control inputheight1" id="SecurityGroupIdForLambda" aria-describedby="emailHelp" [(ngModel)]="omniCustomerDetails.SecurityGroupIdForLambda" placeholder="Security Group Id(Lambda)" disabled>
                            </div>
                            <div class="form-group d-flex">
                              <input type="text" class="form-control inputheight1" id="SubnetId" aria-describedby="emailHelp" [(ngModel)]="omniCustomerDetails.SubnetID" placeholder="Subnet ID" disabled>
                            </div>
                      </div>
                  </div>
                </div>
              </div>
          </div>   
          <div class="bottomBox">
            <div class="ma">
              <button mat-button class="backBtn" (click)="prev()">
                Back
              </button>
            </div>
            <div class="ma">
              <button mat-button class="continueBtn"  (click)="functionForErrorVerification()">
                <span class="RRegular">Submit</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Templates -->
<ng-template #socialIcons>
    <div class="socialicons">
      <a href="https://www.linkedin.com/company/omningage" target="_"><img src="../../../assets/linkedin.png"></a>
      <a href="https://twitter.com/omningage" target="_"><img src="../../../assets/twitter.png"></a>
      <a href="https://www.youtube.com/channel/UC7yAoKBefwPaJQzDrtSfAlQ/" target="_"><img
          src="../../../assets/youtube.png"></a>
    </div>
  </ng-template>
  <ng-template #copyRights>
    <div class="copyright RRegular">
      Copyright @ 2022 OMNINGAGE Limited, All rights reserved
    </div>
  </ng-template>


   <ng-container *ngIf="loading">
    <span class="processingtext">Processing ... </span>
  <app-ProcessingForm></app-ProcessingForm>
  <div class="success">
    <h1 class="successtext"> 
      <span *ngIf="ImageShown==0" class="material-icons iconposition">
        info
        </span>
        <span *ngIf="ImageShown==1" class="material-icons iconposition">
        visibility
        </span>
        <span *ngIf="ImageShown==2" class="material-icons iconposition">
          favorite
          </span>
        <span *ngIf="ImageShown==3" class="material-icons iconposition">
          language
        </span>
        <span *ngIf="ImageShown==4" class="material-icons iconposition">
          visibility_off
        </span>
      {{successMessage}}</h1>
  </div>
  
</ng-container>