<!-- <div class="spinner">
  <div [ngStyle]="{ 'background-color': color ? color : '' }" class="rect1"></div>
  <div [ngStyle]="{ 'background-color': color ? color : '' }" class="rect2"></div>
  <div [ngStyle]="{ 'background-color': color ? color : '' }" class="rect3"></div>
  <div [ngStyle]="{ 'background-color': color ? color : '' }" class="rect4"></div>
  <div [ngStyle]="{ 'background-color': color ? color : '' }" class="rect5"></div>
</div> -->
<div class="loadingAnimation">
  <svg class="spinner40 PA">
      <circle cx="20" cy="20" r="18" stroke-width="3" fill="none" ></circle>
  </svg>
</div>
