
// .spinner {
// 	width: 50px;
//     height: 40px;
//     text-align: center;
//     font-size: 10px;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//   }
  
//   .spinner > div {
// 	background-color: #0097CF;
// 	height: 100%;
// 	margin-right: 2px;
// 	width: 6px;
// 	display: inline-block;
	
// 	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
// 	animation: sk-stretchdelay 1.2s infinite ease-in-out;
//   }
  
//   .spinner .rect2 {
// 	-webkit-animation-delay: -1.1s;
// 	animation-delay: -1.1s;
//   }
  
//   .spinner .rect3 {
// 	-webkit-animation-delay: -1.0s;
// 	animation-delay: -1.0s;
//   }
  
//   .spinner .rect4 {
// 	-webkit-animation-delay: -0.9s;
// 	animation-delay: -0.9s;
//   }
  
//   .spinner .rect5 {
// 	-webkit-animation-delay: -0.8s;
// 	animation-delay: -0.8s;
//   }
  
//   @-webkit-keyframes sk-stretchdelay {
// 	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
// 	20% { -webkit-transform: scaleY(1.0) }
//   }
  
//   @keyframes sk-stretchdelay {
// 	0%, 40%, 100% { 
// 	  transform: scaleY(0.4);
// 	  -webkit-transform: scaleY(0.4);
// 	}  20% { 
// 	  transform: scaleY(1.0);
// 	  -webkit-transform: scaleY(1.0);
// 	}
//   }

.PA{
position: absolute;
top: -590px;
right: 49%;
bottom: 50%;
}
.loadingAnimation {
    margin: 24px auto;
	position: relative;
}

    circle {
        fill: transparent;
        stroke: black;
        stroke-linecap: round;
        stroke-dasharray: calc(3.14px * 40);
        stroke-dashoffset: 40;
        -webkit-animation: spinner 2s linear infinite;
        -moz-animation: spinner 3s linear infinite;
        -ms-animation: spinner 3s linear infinite;
        -o-animation: spinner 3s linear infinite;
        animation: spinner 3s linear infinite;
    }

.spinner40 {
   width: 40px;
    height: 40px;
    display: block;
    transform-origin: calc(0.5px * 40) calc(0.5px * 40) 0;
    -webkit-animation: rotateSpinner 2s linear infinite;
    -moz-animation: rotateSpinner 3s linear infinite;
    -ms-animation: rotateSpinner 3s linear infinite;
    -o-animation: rotateSpinner 3s linear infinite;
    animation: rotateSpinner 3s linear infinite;


}


    @keyframes spinner {
        0% {
            stroke-dashoffset: 26.4/*calc(0.66 * 40)*/;
        }
        50% {
            stroke-dashoffset: 124.6/*calc(3.14 * 40)*/;
        }
        100% {
            stroke-dashoffset: 0.66; /*calc(0.66);*/
        }
    }

    @keyframes rotateSpinner {
        0% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(720deg);
        }
        100% {
            transform: rotate(1080deg);
        }
    }