<div>
  <div class="wrapper">
    <div class="leftBox">
      <div class="margin30">
        <img src="../../../assets/logo.png">
      </div>
      <!-- <div class="marginAuto">
        <img src="../../../assets/business.png">
      </div> -->
      <div class="businessinfo">
        <h2>
          Storage Details
        </h2>
        <ul>
          <!-- <li class="liststyle">Are you using same S3 bucket for Call Recording, Email and Chat Transcripts</li> -->
          <li class="liststyle">S3 Bucket ARN for Call Recording 
            <!-- <div class="helpIcon1">
              <button mat-button [matMenuTriggerFor]="menu">
                <span class="material-icons helpIconimg"> info </span>
              </button>
              <mat-menu #menu="matMenu" class="cusclass">
                <div class="textwrapper">
                  A 12-digit number, such as 123456789012, that uniquely identifies an AWS account. Many AWS resources includes that account id in ther Amazon Resource Name (ARNs). The account id portion distinguishes resources in one account from the resources in another account.
                </div>
                <div class="btnwrapper">
                <button class="video">
                  <span class="material-icons playicon">
                    play_circle_filled
                    </span>
                </button>
                <button class="doc">
                  <span class="material-icons docicon">
                    description
                    </span>
                </button>
                </div>
              </mat-menu>
            </div>   -->
          </li>
          <li class="liststyle">S3 Bucket ARN for Chat Transcript</li>
          <li class="liststyle">S3 Bucket ARN for Chat Attachment</li>
        </ul>
      </div>
      <!-- <div class="RBold headingbelow">
        EFFORTLESS USER EXPERIENCE
      </div>
      <div class="description RRegular">
        <span>
          Promote employee engagement through an effortless experience designed for agent and supervisor
          personas.
        </span>
      </div> -->
        <div  class="postion">
          <div class="info">
            <h3>
              For more information about prerequisites
              please visit 
              <a style="color: white;" href="www.omningage.cloud/prereq">www.omningage.cloud/prereq</a>
            </h3>
            
          </div>
          <ng-container *ngTemplateOutlet="socialIcons"></ng-container>
          <ng-container *ngTemplateOutlet="copyRights"></ng-container>
        
        </div>
      </div>
    <div class="rightBox">
      <div class="rightBoxWrapper">
        <div class="topBox">
          <div class="fromWrapper firstPage">
            <div>
              <div class="RBold firstText">
                <!-- Cloud Service Subscription -->
              </div>
              <div class="RBold secondText">
                <h2>
                  Storage Details
                </h2>
              </div>
              <div class="tickImgBlock">
                <app-stepper-wizard [inputwizard]="4"></app-stepper-wizard>
              </div>
            </div>
            <!-- <div>
              <span class="s3text">
                Are you using S3 bucket for Call Recording,Email and Chat Transcripts
              </span>

            </div>
            <div>
              <form action="/action_page.php" style="display:flex">
                  <input type="radio" id="html" name="fav_language" value="HTML">
                  <label for="html">Yes</label>
                  <input type="radio" id="css" name="fav_language" value="CSS">
                  <label for="css">No</label>
              </form>
            </div> -->
            <!-- field -->
            <div class="b-info">
            <div class="menuRow">
              <div class="w100 enviormentWrapup">
                <div class="RBold mb-15">
                  Are you using same S3 bucket for Call Recording and Chat Transcripts
                </div>
                <button class="matbutton" mat-button
                  (click)="S3Dropdown = !S3Dropdown; $event.stopPropagation()">
                  <span class="selectedRegion"
                    [ngClass]="omniCustomerDetails.S3Type? 'selectedDropdown': 'unselectedDropdown'">{{omniCustomerDetails.S3Type?
                    omniCustomerDetails.S3Type: 'Select'}}</span>
                  <span style="float: right;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="5.98" viewBox="0 0 12 5.98">
                      <defs>
                        <style>
                          .a {
                            fill: #000000;
                          }
                        </style>
                      </defs>
                      <path class="a" d="M0,96.879l6,5.98,6-5.98Z" transform="translate(0 -96.879)" />
                    </svg>
                  </span>
                  <!-- <span class="material-icons">
                    arrow_drop_down
                    </span> -->
                </button>
                <div *ngIf="S3Dropdown" class="menuWrapper" (click)="$event.stopPropagation()">
                  <div *ngFor="let type of S3Bucket;  let i = index;">
                    <label [ngClass]="{'active' : type.S3 === omniCustomerDetails.S3Type}"
                      (click)="SelectedS3Type(i)" class="menuOptions">
                      <input style="float: right;" id="349" type="radio"
                        [checked]="type.S3 === omniCustomerDetails.S3Type" name="question1">
                      <span>{{type.S3}}</span>
                    </label>
                  </div>
                </div>
                <span class="field-error" *ngIf="this.errors.S3Type != null">*{{ this.errors.S3Type
                }}</span>
            </div>
          <!-- <div matTooltipPosition="after" [matTooltip]="formService.s3Bucket" class="helpIcon">
            <img src="../../../assets/Help.png">
          </div> -->
        </div>

        <ng-container *ngIf="omniCustomerDetails.S3Type == 'Yes'">
            <!-- field -->
         <div class="RRegular">
          <span class="regionTagLine"> Call Recording </span>
        </div>
        <div class="menuRow">
            <input type="text" placeholder="S3 Bucket ARN" class="dataInput" (keyup)=CheckContinueButton()
              [(ngModel)]="omniCustomerDetails.BucketNameForCallRecording">
            <span class="field-error" *ngIf="this.errors.BucketNameForCallRecording != null">*{{ this.errors.BucketNameForCallRecording
              }}</span>
          <!-- <div matTooltipPosition="after" [matTooltip]="formService.agentKenisisTooltip" class="helpIcon">
            <img src="../../../assets/Help.png">
          </div> -->
        </div>
        </ng-container>

        <ng-container *ngIf="omniCustomerDetails.S3Type == 'No'">
         <!-- field -->
         <div class="RRegular">
          <span class="regionTagLine"> Call Recording </span>
        </div>
        <div class="menuRow">
            <input type="text" placeholder="S3 Bucket ARN (Call Recording)" class="dataInput" (keyup)=CheckContinueButton()
              [(ngModel)]="omniCustomerDetails.BucketNameForCallRecording">
            <span class="field-error" *ngIf="this.errors.BucketNameForCallRecording != null">*{{ this.errors.BucketNameForCallRecording
              }}</span>
          <!-- <div matTooltipPosition="after" [matTooltip]="formService.agentKenisisTooltip" class="helpIcon">
            <img src="../../../assets/Help.png">
          </div> -->
        </div>

         <!-- field -->
         <div class="RRegular">
          <span class="regionTagLine"> Chat Transcript </span>
        </div>
        <div class="menuRow">
            <input type="text" placeholder="S3 Bucket ARN (Chat Transcript)" class="dataInput" (keyup)=CheckContinueButton()
              [(ngModel)]="omniCustomerDetails.BucketNameForChatTranscript">
            <span class="field-error" *ngIf="this.errors.BucketNameForChatTranscript != null">*{{ this.errors.BucketNameForChatTranscript
              }}</span>
          <!-- <div matTooltipPosition="after" [matTooltip]="formService.agentKenisisTooltip" class="helpIcon">
            <img src="../../../assets/Help.png">
          </div> -->
        </div>

         <!-- field -->
         <div class="RRegular">
          <span class="regionTagLine"> Chat Attachment </span>
        </div>
        <div class="menuRow">
            <input type="text" placeholder="S3 Bucket ARN (Chat Attachment)" class="dataInput" (keyup)=CheckContinueButton()
              [(ngModel)]="omniCustomerDetails.BucketNameForChatAttachment">
            <span class="field-error" *ngIf="this.errors.BucketNameForChatAttachment != null">*{{ this.errors.BucketNameForChatAttachment
              }}</span>
          <!-- <div matTooltipPosition="after" [matTooltip]="formService.agentKenisisTooltip" class="helpIcon">
            <img src="../../../assets/Help.png">
          </div> -->
        </div>
      </ng-container>



          </div>
        </div>
        </div>
        <div class="bottomBox">
          <div class="ma">
            <button mat-button (click)="prev()" class="backBtn">
              Back
            </button>
          </div>
          <div class="ma">
            <button mat-button (click)="submitS3BucketDetails()" [ngClass]="nextButtonFade ? 'continueBtn':'continueBtn dullbg'">
              <span class="RRegular">Continue</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Templates -->
<ng-template #socialIcons>
  <div class="socialicons">
    <a href="https://www.linkedin.com/company/omningage" target="_"><img src="../../../assets/linkedin.png"></a>
    <a href="https://twitter.com/omningage" target="_"><img src="../../../assets/twitter.png"></a>
    <a href="https://www.youtube.com/channel/UC7yAoKBefwPaJQzDrtSfAlQ/" target="_"><img
        src="../../../assets/youtube.png"></a>
  </div>
</ng-template>
<ng-template #copyRights>
  <div class="copyright RRegular">
    Copyright @ {{currentYear}} OMNINGAGE Limited, All rights reserved
  </div>
</ng-template>