<div>
    <div class="wrapper">
      <div class="leftBox">
        <div class="margin30">
          <img src="../../../assets/logo.png">
        </div>
        <!-- <div class="marginAuto">
          <img src="../../../assets/business.png">
        </div> -->
        <div class="businessinfo">
          <h2>
            AWS Account Details
          </h2>
          <ul>
            <li class="liststyle">Aws Account Number 
              <div class="helpIcon1">
                <button mat-button [matMenuTriggerFor]="menu">
                  <span class="material-icons helpIconimg"> info </span>
                </button>
                <mat-menu #menu="matMenu" class="cusclass">
                  <div class="textwrapper">
                    A 12-digit number, such as 123456789012, that uniquely identifies an AWS account. Many AWS resources includes that account id in ther Amazon Resource Name (ARNs). The account id portion distinguishes resources in one account from the resources in another account.
                  </div>
                  <div class="btnwrapper">
                  <button class="video">
                    <a href="www.youtube.com">
                      <span class="material-icons playicon"> play_circle_filled </span>
                    </a>
                  </button>
                  <button class="doc">
                    <a href="www.google.com">
                      <span class="material-icons docicon">  description </span>
                    </a>
                  </button>
                  </div>
                </mat-menu>
              </div>  
            </li>
            <li class="liststyle">CCP URL
              <div class="helpIcon1">
                <button mat-button [matMenuTriggerFor]="menu">
                  <span class="material-icons helpIconimg"> info </span>
                </button>
                <mat-menu #menu="matMenu" class="cusclass">
                  <div class="textwrapper">
                    A 12-digit number, such as 123456789012, that uniquely identifies an AWS account. Many AWS resources includes that account id in ther Amazon Resource Name (ARNs). The account id portion distinguishes resources in one account from the resources in another account.
                  </div>
                  <div class="btnwrapper">
                  <button class="video">
                    <span class="material-icons playicon">
                      play_circle_filled
                    </span>
                  </button>
                  <button class="doc">
                    <span class="material-icons docicon">
                      description
                    </span>
                  </button>
                  </div>
                </mat-menu>
              </div>  
            </li>
            <li class="liststyle">Alias Name
              <div class="helpIcon1">
                <button mat-button [matMenuTriggerFor]="menu">
                  <span class="material-icons helpIconimg"> info </span>
                </button>
                <mat-menu #menu="matMenu" class="cusclass">
                  <div class="textwrapper">
                    A 12-digit number, such as 123456789012, that uniquely identifies an AWS account. Many AWS resources includes that account id in ther Amazon Resource Name (ARNs). The account id portion distinguishes resources in one account from the resources in another account.
                  </div>
                  <div class="btnwrapper">
                  <button class="video">
                    <span class="material-icons playicon">
                      play_circle_filled
                    </span>
                  </button>
                  <button class="doc">
                    <span class="material-icons docicon">
                      description
                    </span>
                  </button>
                  </div>
                </mat-menu>
              </div>  
            </li>
            <li class="liststyle">Cross-Account Role for
              Amazon connect,VPC and S3 full access
              <div class="helpIcon1">
                <button mat-button [matMenuTriggerFor]="menu">
                  <span class="material-icons helpIconimg"> info </span>
                </button>
                <mat-menu #menu="matMenu" class="cusclass">
                  <div class="textwrapper">
                    A 12-digit number, such as 123456789012, that uniquely identifies an AWS account. Many AWS resources includes that account id in ther Amazon Resource Name (ARNs). The account id portion distinguishes resources in one account from the resources in another account.
                  </div>
                  <div class="btnwrapper">
                  <button class="video">
                    <span class="material-icons playicon">
                      play_circle_filled
                    </span>
                  </button>
                  <button class="doc">
                    <span class="material-icons docicon">
                      description
                    </span>
                  </button>
                  </div>
                </mat-menu>
              </div>  
            </li>
            <li class="liststyle">Region
              <div class="helpIcon1">
                <button mat-button [matMenuTriggerFor]="menu">
                  <span class="material-icons helpIconimg"> info </span>
                </button>
                <mat-menu #menu="matMenu" class="cusclass">
                  <div class="textwrapper">
                    A 12-digit number, such as 123456789012, that uniquely identifies an AWS account. Many AWS resources includes that account id in ther Amazon Resource Name (ARNs). The account id portion distinguishes resources in one account from the resources in another account.
                  </div>
                  <div class="btnwrapper">
                  <button class="video">
                    <span class="material-icons playicon">
                      play_circle_filled
                    </span>
                  </button>
                  <button class="doc">
                    <span class="material-icons docicon">
                      description
                    </span>
                  </button>
                  </div>
                </mat-menu>
              </div>  
            </li>
            <li class="liststyle">Instance ARN
              <div class="helpIcon1">
                <button mat-button [matMenuTriggerFor]="menu">
                  <span class="material-icons helpIconimg"> info </span>
                </button>
                <mat-menu #menu="matMenu" class="cusclass">
                  <div class="textwrapper">
                    A 12-digit number, such as 123456789012, that uniquely identifies an AWS account. Many AWS resources includes that account id in ther Amazon Resource Name (ARNs). The account id portion distinguishes resources in one account from the resources in another account.
                  </div>
                  <div class="btnwrapper">
                  <button class="video">
                    <span class="material-icons playicon">
                      play_circle_filled
                    </span>
                  </button>
                  <button class="doc">
                    <span class="material-icons docicon">
                      description
                    </span>
                  </button>
                  </div>
                </mat-menu>
              </div>  
            </li>
            <li class="liststyle">CTR Stream ARN
              <div class="helpIcon1">
                <button mat-button [matMenuTriggerFor]="menu">
                  <span class="material-icons helpIconimg"> info </span>
                </button>
                <mat-menu #menu="matMenu" class="cusclass">
                  <div class="textwrapper">
                    A 12-digit number, such as 123456789012, that uniquely identifies an AWS account. Many AWS resources includes that account id in ther Amazon Resource Name (ARNs). The account id portion distinguishes resources in one account from the resources in another account.
                  </div>
                  <div class="btnwrapper">
                  <button class="video">
                    <span class="material-icons playicon">
                      play_circle_filled
                    </span>
                  </button>
                  <button class="doc">
                    <span class="material-icons docicon">
                      description
                    </span>
                  </button>
                  </div>
                </mat-menu>
              </div>  
            </li>
            <li class="liststyle">Agent event kenisis stream ARN
              <div class="helpIcon1">
                <button mat-button [matMenuTriggerFor]="menu">
                  <span class="material-icons helpIconimg"> info </span>
                </button>
                <mat-menu #menu="matMenu" class="cusclass">
                  <div class="textwrapper">
                    A 12-digit number, such as 123456789012, that uniquely identifies an AWS account. Many AWS resources includes that account id in ther Amazon Resource Name (ARNs). The account id portion distinguishes resources in one account from the resources in another account.
                  </div>
                  <div class="btnwrapper">
                  <button class="video">
                    <span class="material-icons playicon">
                      play_circle_filled
                    </span>
                  </button>
                  <button class="doc">
                    <span class="material-icons docicon">
                      description
                    </span>
                  </button>
                  </div>
                </mat-menu>
              </div>  
            </li>
          </ul>
        </div>
        <!-- <div class="RBold headingbelow">
          EFFORTLESS USER EXPERIENCE
        </div>
        <div class="description RRegular">
          <span>
            Promote employee engagement through an effortless experience designed for agent and supervisor
            personas.
          </span>
        </div> -->
          <div  class="postion">
            <ng-container *ngTemplateOutlet="socialIcons"></ng-container>
            <ng-container *ngTemplateOutlet="copyRights"></ng-container>
          
          </div>
        </div>
      <div class="rightBox">
        <div class="rightBoxWrapper">
          <div class="topBox">
            <div class="fromWrapper firstPage">
              <div>
                <div class="RBold firstText">
                  Cloud Service Subscription
                </div>
                <div class="RBold secondText">
                  <h2>
                  AWS Account Details

                  </h2>
                </div>
                <div class="tickImgBlock">
                  <app-stepper-wizard [inputwizard]="3"></app-stepper-wizard>
                </div>
              </div>
              <!-- field -->
              <div class="b-info">
              <div class="RRegular">
                <span class="regionTagLine"> AWS Account Number </span>
              </div>
              <div class="menuRow">
                  <input type="text" placeholder="AWS Account Number..." class="dataInput" maxlength="12" (keyup)=CheckContinueButton()
                    [(ngModel)]="omniCustomerDetails.AWSAccountNumber">
                  <span class="field-error" *ngIf="this.errors.AWSAccountNumber != null">*{{ this.errors.AWSAccountNumber
                    }}</span>
                <!-- <div matTooltipPosition="after" [matTooltip]="formService.instanceNameTooltip" class="helpIcon">
                  <img src="../../../assets/Help.png">
                </div> -->
              </div>
              <!-- field -->
              <div class="RRegular">
                <span class="regionTagLine"> CCP URL </span>
              </div>
              <div class="menuRow">
                  <input type="text" placeholder="CCP URL..." class="dataInput" (keyup)=CheckContinueButton()
                    [(ngModel)]="omniCustomerDetails.ccpURL">
                  <span class="field-error" *ngIf="this.errors.ccpURL != null">*{{ this.errors.ccpURL
                    }}</span>
                <!-- <div matTooltipPosition="after" [matTooltip]="formService.instanceNameTooltip" class="helpIcon">
                  <img src="../../../assets/Help.png">
                </div> -->
              </div>
              <!-- field -->
              <div class="RRegular">
                <span class="regionTagLine"> AWS Connect Instance Name </span>
              </div>
              <div class="menuRow">
                  <input type="text" placeholder="AWS Connect Alias name..." class="dataInput" (keyup)=CheckContinueButton()
                    [(ngModel)]="omniCustomerDetails.InstanceName">
                  <span class="field-error" *ngIf="this.errors.InstanceName != null">*{{ this.errors.InstanceName
                    }}</span>
                <!-- <div matTooltipPosition="after" [matTooltip]="formService.awsconnectnumberTooltip" class="helpIcon">
                  <img src="../../../assets/Help.png">
                </div> -->
              </div>
               <!-- field -->
               <div class="RRegular">
                <span class="regionTagLine"> Cross Account Role ARN </span>
              </div>
              <div class="menuRow">
                  <input type="text" placeholder="Cross-Account Role for Amazon connect,VPC and S3 full access..." (keyup)=CheckContinueButton()
                    class="dataInput" [(ngModel)]="omniCustomerDetails.CrossAccountRoleARN">
                  <span class="field-error" *ngIf="this.errors.CrossAccountRoleARN != null">*{{
                    this.errors.CrossAccountRoleARN }}</span>
                <!-- <div matTooltipPosition="after" [matTooltip]="formService.crossRoleTooltip" class="helpIcon">
                  <img src="../../../assets/Help.png">
                </div> -->
              </div>
                <!-- field -->
                <div class="RRegular">
                    <span class="regionTagLine"> Select Region for OMNINAGE Connect Deployment </span>
                  </div>
                  <div class="menuRow">
                        <div class="w100 enviormentWrapup">
                          <button class="matbutton" mat-button
                            (click)="RegionDropdown = !RegionDropdown; $event.stopPropagation()">
                            <span class="selectedRegion"
                              [ngClass]="omniCustomerDetails.Region? 'selectedDropdown': 'unselectedDropdown'">{{omniCustomerDetails.Region?
                              omniCustomerDetails.Region: 'Region'}}</span>
                            <span style="float: right;">
                              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="5.98" viewBox="0 0 12 5.98">
                                <defs>
                                  <style>
                                    .a {
                                      fill: #000000;
                                    }
                                  </style>
                                </defs>
                                <path class="a" d="M0,96.879l6,5.98,6-5.98Z" transform="translate(0 -96.879)" />
                              </svg>
                            </span>
                          </button>
                          <div *ngIf="RegionDropdown" class="menuWrapper" (click)="$event.stopPropagation()">
                            <div *ngFor="let reg of regions;  let i = index;">
                              <label [ngClass]="{'active' : reg.region === omniCustomerDetails.Region}"
                                (click)="SelectedRegionType(i)" class="menuOptions">
                                <input style="float: right;" id="349" type="radio"
                                  [checked]="reg.region === omniCustomerDetails.Region" name="question1">
                                <span>{{reg.region}}</span>
                              </label>
                            </div>
                          </div>
                        <span class="field-error" *ngIf="this.errors.Region != null">*{{ this.errors.Region
                          }}</span>
                      </div>
                    <!-- <div matTooltipPosition="after" [matTooltip]="formService.regionTooltip" class="helpIcon">
                      <img src="../../../assets/Help.png">
                    </div> -->
                  </div>
              <!-- field -->
              <div class="RRegular">
                <span class="regionTagLine">Amazon Connect Instance ARN</span>
              </div>
              <div class="menuRow">
                <input class="dataInput" [(ngModel)]="omniCustomerDetails.InstanceARN" type="text" (keyup)=CheckContinueButton()
                  placeholder="Amazon connect instance ARN...">
                <span class="field-error" *ngIf="this.errors.InstanceARN != null">*{{ this.errors.InstanceARN }}</span>
                <!-- <div matTooltipPosition="after" [matTooltip]="formService.instanceARNTooltip" class="helpIcon">
                  <img src="../../../assets/Help.png">
                </div> -->
              </div>
              <!-- field -->
              <!-- <div class="RRegular">
                <span class="regionTagLine"> AWS Connect Instance ARN </span>
              </div>
              <div class="menuRow">
                <div class="w100">
                  <input type="text" placeholder="Enter AWS Connect Instance ARN..." class="dataInput w100"
                    [(ngModel)]="omniCustomerDetails.InstanceARN">
                  <span class="field-error"
                    *ngIf="this.errors.InstanceARN != null">*{{ this.errors.InstanceARN }}</span>
                </div>
                <div matTooltipPosition="after" [matTooltip]="formService.regionTooltip" class="helpIcon">
                  <img src="../../../assets/Help.png">
                </div>
              </div> -->
              <!-- field -->
              <div class="RRegular">
                <span class="regionTagLine"> CTR Kenisis Stream ARN <i>(Optional)</i> </span>
              </div>
              <div class="menuRow">
                  <input type="text" placeholder="CTR kenisis stream ARN..." class="dataInput" (keyup)=CheckContinueButton()
                    [(ngModel)]="omniCustomerDetails.CtrKinesisARN">
                  <span class="field-error" *ngIf="this.errors.CtrKinesisARN != null">*{{ this.errors.CtrKinesisARN}}</span>
                <!-- <div matTooltipPosition="after" [matTooltip]="formService.ctrKenisisTooltip" class="helpIcon">
                  <img src="../../../assets/Help.png">
                </div> -->
              </div>
              <!-- field -->
              <div class="RRegular">
                <span class="regionTagLine"> Agent Kenisis Stream ARN <i>(Optional)</i> </span>
              </div>
              <div class="menuRow">
                  <input type="text" placeholder="Agent event kenisis stream ARN..." class="dataInput" (keyup)=CheckContinueButton()
                    [(ngModel)]="omniCustomerDetails.AgentKinesisARN">
                  <span class="field-error" *ngIf="this.errors.AgentKinesisARN != null">*{{ this.errors.AgentKinesisARN
                    }}</span>
                <!-- <div matTooltipPosition="after" [matTooltip]="formService.agentKenisisTooltip" class="helpIcon">
                  <img src="../../../assets/Help.png">
                </div> -->
              </div>
            </div>
          </div>
          </div>
          <div class="bottomBox">
            <div class="ma">
              <button mat-button (click)="prev()" class="backBtn">
                Back
              </button>
            </div>
            <div class="ma">
              <button mat-button (click)="submitConnectAccountDetail()" [ngClass]="nextButtonFade ? 'continueBtn':'continueBtn dullbg'">
                <span class="RRegular">Continue</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Templates -->
<ng-template #socialIcons>
    <div class="socialicons">
      <a href="https://www.linkedin.com/company/omningage" target="_"><img src="../../../assets/linkedin.png"></a>
      <a href="https://twitter.com/omningage" target="_"><img src="../../../assets/twitter.png"></a>
      <a href="https://www.youtube.com/channel/UC7yAoKBefwPaJQzDrtSfAlQ/" target="_"><img
          src="../../../assets/youtube.png"></a>
    </div>
  </ng-template>
  <ng-template #copyRights>
    <div class="copyright RRegular">
      Copyright @ {{currentYear}} OMNINGAGE Limited, All rights reserved
    </div>
  </ng-template>