<div>
  <div class="wrapper">
    <div class="leftBox">
      <div class="margin30">
        <img src="../../../assets/logo.png">
      </div>
      <!-- <div class="marginAuto">
        <img src="../../../assets/Group 4620.png">
      </div> -->
      <div class="prerequisite">
        <h1 class="title">
            <span>Prerequisite to Deploy Omningage</span>
        </h1>
        <p class="ptext">Please make sure you are having the following prerequisites before proceeding</p>
      </div>
      <div class="businessdetail">
        <h2>
          Business Details
        </h2>
        <div class="listyle">
          <ul>
            <li class="liststyle">Company Name</li>
            <li class="liststyle">Official Email</li>
            <li class="liststyle">Contact Number</li>
            <li class="liststyle">Country</li>
          </ul>
          <ul>
            <li class="liststyle">State</li>
            <li class="liststyle">City Email</li>
            <li class="liststyle">Post Code</li>
            <li class="liststyle">Business Address</li>
          </ul>
        </div>
      </div>
      <div class="connectdetails">
        <h2>
          AWS Connect Details
        </h2>
        <div class="listyle">
          <ul>
            <li class="liststyle">Aws Account Number</li>
            <li class="liststyle">CCP URL</li>
            <li class="liststyle">Instance Name</li>
            <li class="liststyle">Cross-Account Role</li>
            <li class="liststyle">S3 Bucket Name</li>
          </ul>
          <ul>
            <li class="liststyle">Region</li>
            <li class="liststyle">Instance ARN</li>
            <li class="liststyle">CTR Stream ARN</li>
            <li class="liststyle">Agent Event Stream ARN</li>
          </ul>
        </div>
      </div>
      <div class="sqldetails">
        <h2>
          MySQL Database Details
        </h2>
        <div class="listyle">
          <ul>
            <li class="liststyle">Host Name </li>
            <li class="liststyle">Port Number</li>
            <li class="liststyle">Username </li>
            <li class="liststyle">Password</li>
          </ul>
          <ul>
            <li class="liststyle">VPC Id</li>
            <li class="liststyle">CIDR IP</li>
            <li class="liststyle">Security Group Id</li>
            <li class="liststyle">Route Table Id</li>
          </ul>
        </div>
      </div>
      <div class="info">
        <h3>
          For more information about prerequisites please visit
          <a style="color: white;" href="www.omningage.cloud/prereq">www.omningage.cloud/prereq</a>
        </h3>
        
      </div>
      <!-- <div class="description RRegular">
        <span>
          Copyright @ {{currentYear}} OMNINGAGE Limited, All rights reserved
        </span>
      </div> -->
      <!-- <ng-container *ngTemplateOutlet="socialIcons"></ng-container> -->
      <ng-container *ngTemplateOutlet="copyRights"></ng-container>
    </div>
      <div class="rightBox">
        <div class="rightBoxWrapper">
          <div class="topBox">
            <div class="fromWrapper firstPage">
              <!-- <div class="RBold firstText">
                Cloud Service Subscription
              </div> -->
              <div class="RBold secondText">
                Deployment Type
              </div>
              <div class="tickImgBlock">
                <app-stepper-wizard [inputwizard]="1"></app-stepper-wizard>
              </div>
             
              <div class="menuRow">
                <div class="w100 enviormentWrapup">
                  <button class="matbutton" mat-button
                    (click)="enviormentDropdown = !enviormentDropdown; $event.stopPropagation()">
                    <span class="selectedRegion RRegular"
                      [ngClass]="omniCustomerDetails.DeploymentStage? 'selectedDropdown': 'unselectedDropdown'">{{omniCustomerDetails.DeploymentStage?
                      omniCustomerDetails.DeploymentStage: 'Select deployment stage'}}</span>
                    <span class="material-icons">arrow_drop_down</span>
                  </button>
                  <div *ngIf="enviormentDropdown" class="menuWrapper" (click)="$event.stopPropagation()">
                    <div class="RRegular" *ngFor="let env of Environment;  let i = index;">
                      <label [ngClass]="{'active' : env.environment === omniCustomerDetails.DeploymentStage}"
                        (click)="SelectedEnvironment(i)" class="menuOptions">
                        <input style="float: right;" id="349" type="radio"
                          [checked]="env.environment === omniCustomerDetails.DeploymentStage" name="question1">
                        <span>{{env.environment}}</span>
                      </label>
                    </div>
                  </div>
                </div>
                <span class="field-error" *ngIf="this.errors.DeploymentStage != null">*{{ this.errors.DeploymentStage
                  }}</span>
                <div matTooltipPosition="after" [matTooltip]="formService.environmentTooltip" class="helpIcon">
                  <span class="material-icons">help_outline</span>
                </div>
              </div>
              <!-- =====create your domain -->
              <div class="menuRow">
                <div class="w100 enviormentWrapup">                  
                  <div class="omningage-url">
                    <label>Omningage URL</label>
                    <div class="omni-url">
                      <span>https://</span>
                      <input type="text" [(ngModel)]="omniCustomerDetails.SubDomain" placeholder="Sub Domain" maxlength="20" (keyup)="CheckContinueButton()">
                      <span>.omningageaws.com</span>
                    </div>
                    <span class="field-error" *ngIf="this.errors.SubDomain != null">*{{ this.errors.SubDomain }}</span>
                  </div>
                </div>
                <div matTooltipPosition="after" [matTooltip]="formService.environmentTooltip" class="helpIcon-url">
                  <span class="material-icons">help_outline</span>
                </div>
              </div>
            </div>
          </div>
          <div class="bottomBox">
          <button mat-button (click)="submitBusinessInfo()" [ngClass]="nextButtonFade ? 'continueBtn':'continueBtn dullbg'">
            <span class="RRegular">Continue</span>
          </button>
        </div>
        </div>
      </div>
<!-- Templates -->
<ng-template #socialIcons>
  <div class="socialicons">
    <a href="https://www.linkedin.com/company/omningage" target="_"><img src="../../../assets/linkedin.png"></a>
    <a href="https://twitter.com/omningage" target="_"><img src="../../../assets/twitter.png"></a>
    <a href="https://www.youtube.com/channel/UC7yAoKBefwPaJQzDrtSfAlQ/" target="_"><img
        src="../../../assets/youtube.png"></a>
  </div>
</ng-template>
<ng-template #copyRights>
  <div class="copyright RRegular">
    Copyright @ {{currentYear}} OMNINGAGE Limited, All rights reserved
  </div>
</ng-template>


