.RLight {
  font-family: sans-serif !important;
}

.RRegular {
  font-family: sans-serif !important;
}

.RBold {
  font-family: sans-serif !important;
}

.RMedium {
  font-family: sans-serif !important;
}

button {
  border: 0;
  background: none;
  outline: none;
}

html,
body {
  height: 100%;
  margin: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: #7a7f83;
}

::-webkit-scrollbar-thumb {
  background: #545454;
  border-radius: 0;
}

.mat-snack-bar-container {
  background: none;
  box-shadow: none;
}

.mat-tooltip {
  font-size: 14px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
